@charset"utf-8";
/** grid system **/
body {
  min-width: 960px;
}
.container_16, #maincontent {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#maincontent {
  min-height: 500px;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16, 
.aside {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.grid_1 {
  width: 40px;
}
.grid_2 {
  width: 100px;
}
.grid_3, .aside {
  width: 160px;
}
.grid_4 {
  width: 220px;
}
.grid_5 {
  width: 280px;
}
 .grid_6 {
  width: 340px;
}
.grid_7 {
  width: 400px;
}
.grid_8 {
  width: 460px;
}
.grid_9 {
  width: 520px;
}
.grid_10 {
  width: 580px;
}
.grid_11 {
  width: 640px;
}
.grid_12 {
  width: 700px;
}
.grid_13 {
  width: 760px;
}
.grid_14 {
  width: 820px;
}
.grid_15 {
  width: 880px;
}
.grid_16 {
  width: 940px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after,
.container_16:before,
.container_16:after, 
#maincontent:before, 
#maincontent:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container_16:after, 
#maincontent:after {
  clear: both;
}
.clearfix,
.container_16, 
#maincontent {
  zoom: 1;
}
/** /grid system **/
html, body, #overheader, #header, #nav, #footer, #links, .nt-dd1, ul, li {
    margin: 0px;
}
html, body, #maincontent, #overheader, #header, #nav, #footer, #links, .nt-dd1, ul, li {
    padding: 0px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
h1, h2, h3 {
    font-weight:bold;
}
h1 {
    color:#000;
    font-size:24px;
}
h2, h3 {
    color:#333;
    font-size:18px;
}
p {
    color:#333;
    text-align:justify;
}
form {
    padding: 0;
    margin: 0;
    display: inline;
}
input, textarea, select {
    margin: 3px 0px;
    padding:2px;
    background:#fff;
    border:solid 1px #ccc;
    box-shadow:inset 1px 1px 4px #ccc;
    border-radius:1px; 
}
input:focus, textarea:focus {
    background:#f3f3f3;
}
a, a {
    color: #1B57A3;
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
a img {
    border: none;
}
table {
    max-width:100%
}
.property {
    clear:both;
    position:relative;
    display:block;
}
.label {
    width:200px;
    height:30px;
    display:block;
    float:left;
}
input {
    width:220px;
    height:30px;
    display:block;
    float:left;
}
input[type=radio],input[type=checkbox] {
    width:10px;
    height:10px;
}
.button, .button:active, .button, .submit, .submit:active, .submit, input[type=submit], input[type=button] {
    margin:3px;
    padding:5px;
    background:#0066FF;
    min-width:60px;
    width:auto;
    height:18px;
    float:left;
    border:#069;
    color:#FFF;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
}
.blue {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(top,#2584c4 0%,#1765a0);
	background: -webkit-gradient(linear, left top, left bottom, from(#2584c4),to(#1765a0));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0px solid #ffffff;
	-moz-box-shadow:0px 1px 2px rgba(000,000,000,0.5),inset 0px -2px 0px rgba(018,083,129,1);
	-webkit-box-shadow:0px 1px 2px rgba(000,000,000,0.5),inset 0px -2px 0px rgba(018,083,129,1);
	box-shadow:0px 1px 2px rgba(000,000,000,0.5),inset 0px -2px 0px rgba(018,083,129,1);
	text-shadow:0px -2px 0px rgba(000,000,000,0.3),0px 0px 0px rgba(255,255,255,0);
    cursor:pointer;
}
.blue:active {
	background: rgba(018,083,129,1);
}
fieldset {
    padding: 10px;
    padding-top:30px;
    margin: 30px 0;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
    background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
    background: linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
    border: 1px solid #DDDDDD;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    box-shadow: 0px 0px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    -moz-box-shadow: 0px 0px 3px #ccc;
}
legend {
    position:absolute;
    margin-top:-48px;
    background: #fdffff;
    background: -moz-linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdffff), color-stop(100%, #e6f8fd));
    background: -webkit-linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    background: -o-linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    background: -ms-linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    background: linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    border: 1px solid #39F;
    padding: 10px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
table {
    width:100%;
}
th {
    padding:5px 10px;
    background:#2781D5;
    font: bold 12px Arial;
    color:#fff;
}
td {
    padding:5px 10px;
}
tr:nth-child(even) {
    background:#f0f0f0;
}
tr:nth-child(odd) {
    background:#fff;
}
tr:hover {
    background:#e0e0e0;
}
/* DROP DOWNS */
.nt-dd4 li:hover ul,.nt-dd2 li:hover ul, .nt-dd3 li:hover ul { 
    display:block;
}
.nt-dd1 ul, .nt-dd2 ul, .nt-dd3 ul, .nt-dd4 ul {
    position:absolute;
    top:auto;
    left:auto;
    margin:0px;
    padding:0px;
    background: #fff;
    min-width:200px;
    width:auto;
    height:auto;
    list-style:none;
    display:none;
    border:solid 1px #ccc;
    z-index:999;
}
.nt-dd2 ul, .nt-dd3 ul {
    margin-top:-24px;
}
.nt-dd1 li, .nt-dd2 li, .nt-dd3 li {
    padding:3px 1%;
    width:98%;
    border-bottom: dashed 1px #ccc;
}
.nt-dd1 li:last-child, .nt-dd2 li:last-child, .nt-dd3 li:last-child {
    border-bottom: none;
}
.nt-dd1 a, .nt-dd2 a, .nt-dd3 a {
    width:100%;
    color:#999;
    text-decoration:none;
    display:block;
    line-height:24px;
}
.nt-dd1 li:hover, .nt-dd2 li:hover, .nt-dd3 li:hover {
    background:#999;
    border-bottom: dashed 1px #fff;
}
.nt-dd1 li:hover a, .nt-dd2 li:hover a, .nt-dd3 li:hover a {
    color:#fff;
}
.nt-dd1 span, .nt-dd2 span, .nt-dd3 span {
    margin-top:10px;
    width:10px;
    height:10px;
    display:block;
    float:right;
}
.nt-dd1 p {
    cursor: pointer;
    margin:0px;
    line-height:24px;
}
.nt-dd1 ul {
    margin-left:-20px;
}
.nt-dd1 span {
    background:url(../images/arrow-down.png) transparent left top no-repeat;
}

.nt-dd2 ul {
    margin-left:160px;
}
.nt-dd2 span {
    background:url(../images/arrow-right.png) transparent left top no-repeat;
}

.nt-dd3 ul {
    margin-left:-160px;
}
.nt-dd3 span {
    background:url(../images/arrow-left.png) transparent left top no-repeat;
    float:left;
}
/* DROP DOWNS */
/* OVERHEADER */
#overheader {
    position:relative;
    z-index:-1;
    padding: 5px 0px;
    background:#222;
    width:100%;
    height:25px;
    display:block;
    border-bottom:solid 2px #fff;
    box-shadow: 0px 0px 4px #999;
}
#links {
    list-style:none;
}
#links li {
    margin:0px;
    padding: 5px;
    border-left: solid 1px #333;
    border-right: solid 1px #5A5A5A;
    float:left;
}
#links li:first-child {
    border-left: none;
}
#links li:last-child {
    border-right: none;
}
#links a, #links a {
    color:#ddd;
    text-decoration:none;
}
#links a:hover {
    text-decoration:underline;
}
#currencies p, #languages p {
    color:#111;
}
#currencies b, #languages b {
    font-weight: normal;
    font-size: 11px;
    color:#ccc;
}
#loginPanel p {
    background: url(../images/users.png) #2781D5 center center no-repeat;
    width:30px;
    height:30px;
    display:block;
}
#loginPanel ul {
    margin-left: -170px;
}
#loginPanel li:hover {
    background:#fff;
    border-bottom:dashed 1px #ccc;
}
#loginPanel a:hover {
    color:#2781D5;
}
#loginPanel a.button, #loginPanel a.button:hover {
    color:#fff;
    width:90%;
}
#loginPanel input {
    width:90%;
    height:20px;
    border:solid 1px #ccc;
    float:none;
}
.socialLogin {
    list-style:none;
}
.socialLogin li {
    margin:10px auto;
}
.socialLogin a {
    background-repeat: no-repeat;
    background-color: transparent;
    width:261px;
    height:53px;
    display:block;
}
.smallSocialLogin {
    background-repeat: no-repeat;
    background-color: transparent;
    width:184px;
    height:40px;
    display:block;
}
/* OVERHEADER */

/* HEADER */
#header {
    margin: 0px auto;
    padding:5px;
    width:100%;
    height: auto;
    float:left;
}
#logo {
    margin-top:5px;
    float:left;
}
#search {
    margin-top:5px;
    float:right;
}
#search input {
    margin:auto 0px auto 30px;
    background:#FFF;
    width:180px;
    height:25px;
    display:block;
    float:left;
    border:solid 1px #ccc;
}
#search a {
    background: url(../images/magnify.png) #F5692C center center no-repeat;
    text-decoration:none;
    width:30px;
    height:30px;
    float:left;
}
#breadcrumbs {
    margin:0px;
	padding:0px;
	right:24px;
	bottom:-12px;
	list-style:none;
}
#breadcrumbs li, #breadcrumbs a {
	position:relative;
    margin-top:5px;
    float:left;
	height:24px;
	line-height:24px;
	font-size:10px;
}
#breadcrumbs a {
    margin-left:12px;
	padding:0 10px 0 22px;
	background:#999;
	color:#fff;
	text-decoration:none;
}
#breadcrumbs a:after {
    content:"";
	float:left;
	position:absolute;
	top:0;
	right:-12px;
	width:0;
	height:0;
	border-color:transparent transparent transparent #999;
	border-style:solid;
	border-width:12px 0px 12px 12px;
}
#breadcrumbs a:before {
    content:"";
	float:left;
	position:absolute;
	top:0;
	left:0px;
	width:0;
	height:0;
	border-color:transparent transparent transparent #fff;
	border-style:solid;
	border-width:12px 0px 12px 12px;
}
#breadcrumbs a:hover{background:#F5692C;}	
#breadcrumbs a:hover:after{border-color:transparent transparent transparent #F5692C;}
#cartPanel, #accountPanel {
    margin:10px;
    float:right;
}
#accountPanel {
    margin-right:0px;
}
#accountPanel p, #cartPanel p {
    padding-left:10px;
    background: #f3f3f3;
    width:auto;
    height:28px;
    border:solid 1px #ccc;
    display:block;
    float:left;
}
#accountPanel ul, #cartPanel ul {
    margin-top:30px;
    margin-left:-100px;
}
#accountPanel li, #cartPanel li {
    text-align:left;
}
#accountPanel b {
    margin-top:-1px;
    background: url(../images/bag.png) #333 center center no-repeat;
    width:30px;
    height:30px;
    display:block;
    float:right;
}
#cartPanel b {
    margin-top:-1px;
    background: url(../images/cart.png) #2781D5 center center no-repeat;
    width:30px;
    height:30px;
    display:block;
    float:right;
}
/* HEADER */

/* NAV */
#navButton {
    background: url(../images/icons-36-white.png) #2781D5 -1580px top no-repeat;
    text-decoration:none;
    width:30px;
    height:30px;
    display:none;
    float:left;
}
#nav {
    margin-top:20px;
    margin-bottom:20px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 99%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 99%); /* W3C */
    width:100%;
    height:30px;
    display:block;
    border:solid 2px #fafafa;
    box-shadow: 2px 2px 3px #ccc;
    border-radius:3px;
}
#nav ul {
    list-style:none;
}
#nav li {
    padding:0px 15px;
    float:left;
    width:auto;
    height:30px;
    display:block;
    border-right:solid 1px #E5E5E5;
}
#nav a, #nav a:visited {
    padding:5px 15px;
    font:normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration:none;
    color:#333;
    height:20px;
    display:block;
}
#nav li:hover {
    background:#666;
}
#nav li:hover a {
    color:#fff;
}
#nav li.selected {
    background:#2781D5;
}
#nav li.selected a {
    color:#fff;
}
/* NAV */

/* FEATURED */
#featured {
    margin:15px auto;
}
/* FEATURED */
/* CONTENT */
#maincontent {
    margin:20px auto;
    background:#fff;
    border-radius: 4px;
    box-shadow:0px 0px 8px #ccc;
}
/* CONTENT */

/* SORTS */
.sort input {
    margin-right:10px;
    width:140px;
    height:16px;
    float:left;
}
.sort select {
    margin-top:5px !important;
    margin-right:10px !important;
}
/* SORTS */
/* COLUMNS */
#column_left {
    float: left;
    clear: left;
}
#column_right {
    float: right;
    clear: right;
}
#column_left ul, #column_right ul, .widgets {
    list-style:none;
}
#column_left .box, #column_right .box {
    margin:20px auto;
}
#column_left .box .header, #column_right .box .header {
    margin:10px auto;
    background:#FFF;
    width:100%;
    height:20px;
    display:block;
    border-bottom:solid 2px #000;
    font:bold 14px Arial, Helvetica, sans-serif;
}
/* COLUMNS */
.categoryWidget .content {
    background:#FFF;
}
.categoryWidget ul {
    list-style:none;
}
.categoryWidget ul ul a {
    color:#333 !important;
}
.categoryWidget ul ul li:hover a {
    color:#fff !important;
}
.hasCategories {
    background:url(../images/arrow-down.png) right top no-repeat;
}
.delete-product {
    background:url(../images/delete.png) transparent left top no-repeat;
    width:16px;
    height: 16px;
    display:block;
}
.update-product {
    background:url(../images/refresh.png) transparent left top no-repeat;
    width:16px;
    height: 16px;
    display:block;
    float:left;
}
.cart {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #EEEEEE;
    margin-bottom: 10px;
}
.cartWidget .cartWidgetTotal {
    margin-top:5px;
    padding: 0 3px 0 3px;
    font-size: 0.9em;
    color: #222;
    float:left;
}
.cartWidget .cartRemove {
    margin-top: 3px;
    background: url(../images/list_remove_btn.gif) no-repeat left center transparent;
    padding-right:10px;
    cursor:pointer;
}
.cartWidget .cartRemoveLoading {
    margin-top: 3px;
    background: url(../images/ajax_load.gif) no-repeat transparent;
    padding-right:10px;
}
.cartWidget .cartLinks {
    padding-top:5px;
    text-align:center;
    clear:both;
}
.cart thead {
    background:#ccc
}
.cart th {
    text-align:left
}
.guide {
    margin-bottom: 10px;
    padding: 10px; 
    background: #F7F7F7;
    display:none;
    border: 1px solid #DDDDDD;
}
#paymentMethods {
    list-style:none;
}
#paymentMethods li {
    float:none;
    clear:both;
}
#paymentMethods a.button {
    width: 90px;
}
#content, #content .box .header, #content .box .content {
    margin-top: 10px;
}
#content .box .header {
    border-bottom:solid 2px #000;
}
/* REVIEWS */
.star_review, .star_clicked{
	margin:0 1px;
	background-image:url(../images/star_review.png);
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	display:block;
	float:left;
}
.star_review {
	background-position:right top;
}
.star_clicked {
	background-position:left top;
}
/* COMMENTS */
#review ul {
    list-style:none;
}
.review-reply, .review-delete, .review-follow {
    margin: 10px 10px 5px 10px;
    padding-left: 20px;
    width:auto;
    height:16px;
    display:block;
    font:normal 10px Verdana;
    text-decoration:none;
    color:#333;
    float:left;
}
.review-reply:hover, .review-delete:hover, .review-follow:hover {
    color:#000;
}
.review-reply {
    background: url(../images/review_repply.png) transparent left top no-repeat;
}
.review-follow {
    background: url(../images/review_follow.png) transparent left top no-repeat;
}
.review-delete {
    background: url(../images/review_delete.png) transparent left top no-repeat;
}
.review-like, .review-dislike, .dislikes, .likes {
    margin: 5px;
    width:24px;
    height:24px;
    display:block;
    float:right;
}
.likes {
    margin-top:5px;
    color: #7CB63F;
}
.dislikes {
    margin-top:5px;
    color: #900;
}
.review-like {
    background: url(../images/like.png) transparent left top no-repeat;
}
.review-dislike {
    background: url(../images/dislike.png) transparent left top no-repeat;
}
#review li {
    margin:5px auto;
    padding:10px;
    background:#f0f0f0;
    width:auto;
    height:auto;
    display:block;
    border-radius: 4px;
}
#review li li {
    margin-top:10px;
    margin-left:10%;
    padding:2px;
    background:#e0e0e0;
    width:85%;
    height:auto;
    display:block;
    border-radius: 4px;
}
.review-buttons {
    padding:2px;
    background: #fbfbfb;
    border-radius: 2px;
}
/* ORDER INVOICE */
#orderTotals, #orderTotals td {
    text-align:right;
}
/* ORDER INVOICE */
#breadcrumb {
    float: left;
    padding-top: 7px;
    padding-bottom: 11px;
    height: 13px;
    margin-bottom: 10px;
    color: #000000;
}
.view_style {
    margin:5px;
    background:url(../images/view_style.png) no-repeat;
    width:22px;
    height:22px;
    display:inline-block;
}
.success {
    padding: 5px 0px;
    margin-bottom: 10px;
    background: #E4F1C9;
    border: 1px solid #A5BD71;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.warning {
    padding: 5px 0px;
    margin-bottom: 10px;
    background: #FFDFE0;
    border: 1px solid #FF9999;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    padding:7px;
    display:block;
    color: #900;
}
/* sorts */
.sort {
    margin:5px 1%;
    padding:1px 1%;
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 0%,#ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 0%,#ebebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 0%,#ebebeb 100%); /* W3C */
    border:solid 1px #DADADA;
    border-radius:4px;
    box-shadow:2px 2px 5px #ccc;
    height: 30px;
    width: 96%;
}
.sort p, .sort select {
    margin:4px 4px 0 4px;
    float:left;
}
.sort a {
    float:right
}
.sort select {
    font-size: 11px;
    margin: 0;
    padding: 0;
}
/** /sorts **/
/** products **/
.grid_view, .grid_view ul {
    width:100%;
}
.grid_view ul {
    list-style: none;
}
.grid_view li {
    margin:10px 2%;
    padding:10px 1%;
    width:19%;
    float:left;
    text-align:center;
}
.grid_view .name {
    clear:both;
    display:block;
    font:bold 14px Verdana, Geneva, sans-serif;
    text-decoration:none;
}
.grid_view .rating {
    
}
.grid_view .model {
    font:normal 11px Verdana, Geneva, sans-serif;
    color:#ccc;
    text-align:center;
}
.grid_view .overview {
    display:none;
}
.grid_view .description {
    display:none;
}
.grid_view .price {
    font:bold 14px Verdana, Geneva, sans-serif;
    color:#000;
    text-align:center;
}
.grid_view .old_price {
    margin:0px;
    font:normal 10px Verdana;
    color:#ccc;
    text-decoration:line-through;
    text-align:center;
}
.grid_view .special {
    margin:0px;
    font:bold 14px Verdana;
    color:#FFBB4E;
    text-shadow:1px 1px 0px #000;
    text-align:center;
}
.grid_view .thumb {
}
.grid_view .thumb img {
}
.grid_view .product_info {
    
}
.grid_view .button_add_small, .grid_view .button_see_small {
    margin:auto 5px;
    padding:5px;
    text-decoration:none;
    color:#fff;
    display:block;
    float:left;
}
.grid_view .button_see_small {
    background:#2781D5;
}
.grid_view .button_add_small {
    background:#222;
}
.grid_view .oferta, .grid_view .descuento, .grid_view .nuevo {
	position:absolute;
	top:0px;
	right:-1px;
	width:50px;
	height:50px;
	display:block;
	z-index:99;
}
.nuevo {background:url(../../../images/data/product_new.png) transparent left top no-repeat;}
.oferta {background:url(../../../images/data/product_special.png) transparent left top no-repeat;}
.descuento {background:url(../../../images/data/product_discount.png) transparent left top no-repeat;}
#overview .price {
    font:bold 32px Arial, Helvetica, sans-serif;
    color:#36F;
}
#overview .property {
    clear:both;
    position:relative;
    display:block
}
#overview .property p {
    margin:5px;
    float:left;
}
.category_view {
    list-style:none;
}
.category_view li {
    margin:20px 10px;
    padding:5px;
    float:left;
    text-align:center;
}

.list_view, .list_view ul {
    width:100%;
}
.list_view ul {
    list-style: none;
}
.list_view li {
    clear:both;
    margin:10px 0px;
    padding:10px 2%;
    width:96%;
    float:left;
}
.list_view .product_info {
    float:left;
}
.list_view .name {
    clear:both;
    display:block;
    font:bold 14px Verdana, Geneva, sans-serif;
    text-decoration:none;
}
.list_view .rating {
    position:relative;
    left:10px;
}
.list_view .model {
    font:normal 11px Verdana, Geneva, sans-serif;
    color:#ccc;
}
.list_view .overview {
    display:block;
}
.list_view .description {
    display:none;
}
.list_view .price {
    font:bold 14px Verdana, Geneva, sans-serif;
    color:#000;
    text-align:center;
}
.list_view .old_price {
    margin:0px;
    font:normal 10px Verdana;
    color:#ccc;
    text-decoration:line-through;
    text-align:center;
}
.list_view .special {
    margin:0px;
    font:bold 14px Verdana;
    color:#FFBB4E;
    text-shadow:1px 1px 0px #000;
    text-align:center;
}
.list_view .thumb {
    margin-right:10px;
    float:left;
}
.list_view .product_info {
    margin-left: 10px;
}
.list_view .button_add_small, .list_view .button_see_small {
    margin:auto 5px;
    padding:5px;
    text-decoration:none;
    color:#fff;
    display:block;
    float:left;
}
.list_view .button_see_small {
    background:#2781D5;
}
.list_view .button_add_small {
    background:#222;
}
.list_view .oferta, .list_view .descuento, .list_view .nuevo {
	position:absolute;
	top:0px;
	right:-1px;
	width:50px;
	height:50px;
	display:block;
	z-index:99;
}
.list_view li:nth-child(even) {
    background:#f0f0f0;
}
.list_view li:nth-child(odd) {
    background:#fff;
}
/** /products **/
/** pagination **/
.pagination {
    display: inline-block;
    width: 100%;
    background: #F8F8F8;
    margin-bottom: 10px;
}
.pagination .links, .pagination .results {
    padding: 7px;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
}
.pagination .links b {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
}
.pagination .results {
    float: right;
}
/** /pagination **/
#footer {
    margin:20px auto;
    float:left;
}
#footer > ul  {
    margin:0px;
    padding:0px;
    list-style:none;
}
#footer > ul li {
    margin:0px;
    padding:0px 10px;
    width: 220px;
    float:left;
}
#footer ul ul {list-style:square;margin:0px;padding:10px}
#footer ul ul li, #footer a {color:#666 !important;text-decoration:none;}
#footer ul ul li:hover a {color:#222 !important;}
#footer ul ul li {
    line-height:24px;
    border-bottom:dashed 1px #ccc;
}
#footer h1, #footer h2 {border-bottom:solid 1px #666;color: #666;width:100%;}
#footer p {
	text-align:center;
}
.preloader { background:url(../../../images/data/preloader.gif) center center no-repeat #ffffff;  }
/* neco-carousel */
.neco-carousel {
    position: relative;
    padding: 15px;
    margin-top:20px;
    background:#fff;
    border-radius: 4px;
    text-align: center;
    min-height:200px;
    height:auto;
}
.neco-carousel ul {
    padding-left: 0px;
}
.caroufredsel_wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}
.neco-carousel li {
    margin: 0px 7px;
    padding:0px;
    min-width:110px;
    width:auto;
    height:200px;
    display: block;
    text-align:center;
	cursor:pointer;
    float: left;
}
.neco-carousel li:hover {background: #f3f3f3}
.neco-carousel img {
    background-color: #fff;
	border:solid 1px #DBDBDB;
}
.neco-carousel a {color: #333}
.neco-carousel b {font:normal 11px Arial;margin-left:10px}
.neco-carousel-prev, .neco-carousel-next, .neco-carousel-pager a {
    background: url(../images/neco-carousel-sprite.png) no-repeat transparent;
}
.neco-carousel-prev, .neco-carousel-next {
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    top: 179px;
}
.neco-carousel-prev {left: 3px;background-position: 0px 0px;}
.neco-carousel-prev:hover {background-position: 0px -26px; }
.neco-carousel-next {right: 3px;background-position: -29px 0px; }
.neco-carousel-next:hover {background-position: -29px -26px;}
.neco-carousel-prev.disabled, a.next.disabled {
    cursor: default;
}	 
.neco-carousel-prev span, .neco-carousel-next span {display: none}
.neco-carousel-pager {text-align: center}
.neco-carousel-pager a {
    margin: 0px 5px 0px 0px;
    background-position: -59px 0px;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.neco-carousel-pager a.selected {
    background-position: -59px -10px;
    cursor: default;
}
.neco-carousel-pager a span {
    display: none;
}
/* neco-carousel */
/** neco-lightbox **/
.lightboxWidget {
    position:fixed;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    background:rgba(0,0,0,0.3);
    z-index:8010;
    width:100%;
    height:100%;
    display:block;
}
.lightboxWidget span {
    position:fixed;
    padding:10px;
    background:#fff;
    box-shadow:0px 0px 12px #222;
    border-radius: 4px;
    min-height:100px;
    min-width:300px;
    height:auto;
    width:auto;
    display:block;
    z-index:8998;
    overflow:hidden;
}
.lightboxWidget .close {
    position:absolute;
    top:auto;
    right:auto;
    padding:5px 10px;
    background:#900;
    box-shadow:0px 0px 4px #222;
    border-radius: 20px;
    font: bold 16px Arial;
    color:#fff;
    border:solid 3px #fff;
    display:block;
    z-index:9999;
    cursor:pointer;
}
/** neco-lightbox **/
/** vertical banner **/
.vertical-banner {
    margin:0px;
    padding:0px;
    list-style: none;
}
.vertical-banner li {
    margin:4px auto;
    padding:2px;
}
/** vertical banner **/
/** horizontal banner **/
.horizontal-banner {
    margin:0px;
    padding:0px;
    list-style: none;
}
.horizontal-banner li {
    margin:5px;
    padding:2px;
    float:left;
}
/** horizontal banner **/

/* Global nav panel close button HD/Retina icon */
@media only screen and (min-width:46em) and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min-width:46em) and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-width:46em) and (min-resolution: 200dpi) {
	/* global nav panel close button */
	.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ntm-header::after,
	.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open .ntm-header::after {
		background-image: url(../images/ntm_demo-icons-hd.png);
	}
}

/* =====  Media queries  ===== */

/* Devices and browsers with min of 767px and max of 979px */
@media only screen and (min-width: 767px) and (max-width: 979px) {
}

/* Devices and browsers with min of 800px and max of 979px */
@media only screen and (min-width: 800px) and (max-width: 979px) {
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .hideOnMobilePortrait {display:none;opacity:0}
    .hideOnTablet {display:none;opacity:0}
    body, .container_16, #maincontent {
        min-width: 100%;
        width: 100%;
    }
    .container_16, #maincontent {
        overflow: hidden;
    }
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16, 
    .aside {
      margin-left: 0px;
      margin-right: 0px;
    }
    .container_16 { overflow: hidden; }
    .grid_1 {width: 6.25%;}
    .grid_2 {width: 12.5%;}
    .grid_3 {width: 18.75%;}
    .grid_4 {width: 25%;}
    .grid_5 {width: 31.25%;}
    .grid_6 {width: 37.5%;}
    .grid_7 {width: 43.75%;}
    .grid_8 {width: 50%;}
    .grid_9 {width: 56.25%;}
    .grid_10 {width: 62.5%;}
    .grid_11 {width: 68.75%;}
    .grid_12 {width: 75%;}
    .grid_13 {width: 100%;}
    .grid_14 {width: 87.5%;}
    .grid_15 {width: 93.75%;}
    .grid_16 {width: 100%;}
    /* DROP DOWNS */
    .nt-dd1 ul, .nt-dd2 ul, .nt-dd3 ul, .nt-dd4 ul {
        position:fixed;
        top:40px;
        left:-1px;
        margin:0px;
        padding:0px;
        background:#f0f0f0;
        min-width:100%;
        width:100%;
        height:auto;
        z-index:9999;
    }
    .nt-dd2 ul, .nt-dd3 ul {
        margin-top:-24px;
    }
    .nt-dd1 li, .nt-dd2 li, .nt-dd3 li {
        padding:3px 1%;
        width:98%;
        border-bottom: dashed 1px #ccc;
    }
    .nt-dd1 ul {
        margin-left:0px;
    }
    .nt-dd2 ul {
        margin-left:0px;
    }
    .nt-dd3 ul {
        margin-left:0px;
    }
    /* DROP DOWNS */
    #links, #search input {
        display:none;
        opacity:0;
    }
    #header {
        margin-top:40px;
    }
    #overheader {
        position:fixed;
        z-index:99;
    }
    #overheader > div {
        float:right;
    }
    #loginPanel ul {
        margin-left: 0px;
    }
    #navButton {
        position:absolute;
        top:5px;
        left:10px;
        display: block;
    }
    #nav {
        position:absolute;
        top:20px;
        left:0px;
        background: transparent;
        display:none;
        z-index:9999;
    }
    #nav li {
        padding-left:0px;
        padding-right:0px;
        background: #2781D5;
        border-bottom:dashed 1px #fff;
        float:none;
        width:98%;
    }
    #nav a {
        font-weight:bold;
        color:#fff;
    }
    #footer > ul > li {
        margin:0px 1%;
        padding:0px 1%;
        width: 95%;
    }
    #logo img {
        max-width:100%;
    }
    .grid_view li {
        margin:10px 5%;
        padding:10px 1%;
        width:88%;
        float:none;
    }
    .grid_view .thumb {
        margin-left: 15%;
        margin-right: 15%;
    }
    .list_view, .list_view ul {
        margin: 0px;
        padding: 0px;
        width:100%;
    }
    .list_view li {
        margin-top:10px;
        padding-top:10px;
        padding-bottom:40px;
        width:100%;
    }
    .list_view .product_info {
        margin-left:0px;
        width:66%;
    }
    .list_view .thumb {
        width:30%;
    }
    .list_view .thumb img {
        margin-top:20px;
        width:90%;
    }
    .list_view .name {
        position:relative;
        margin-left:-70%;
        font-size:11px;
    }
    .list_view .model {
        font-weight:bold;
    }
    .list_view .overview {
        font-size:9px;
    }
    .list_view .overview a {
        font-size:9px;
        text-decoration:none;
    }
    .list_view .button_see_small, .list_view .button_add_small, .list_view .button_quick_view {
        position:absolute;
        font-size:9px;
    }
    .list_view .button_see_small {
        left:-1px;
    }
    .list_view .button_add_small {
        left:30%;
    }
    .list_view .button_quick_view {
        left:66%;
    }
}
	
/* Mobile Portrait Size */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .hideOnMobile {display:none;opacity:0}
    body, .container_16, #maincontent {
        min-width: 100%;
        width: 100%;
    }
    .container_16, #maincontent {
        overflow: hidden;
    }
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16, 
    .aside {
      margin-left: 0px;
      margin-right: 0px;
    }
    .container_16 { overflow: hidden; }
    .grid_1 {width: 6.25%;}
    .grid_2 {width: 12.5%;}
    .grid_3 {width: 18.75%;}
    .grid_4 {width: 25%;}
    .grid_5 {width: 31.25%;}
    .grid_6 {width: 37.5%;}
    .grid_7 {width: 43.75%;}
    .grid_8 {width: 50%;}
    .grid_9 {width: 56.25%;}
    .grid_10 {width: 62.5%;}
    .grid_11 {width: 68.75%;}
    .grid_12 {width: 75%;}
    .grid_13, .aside {width: 100%;}
    .grid_14 {width: 87.5%;}
    .grid_15 {width: 93.75%;}
    .grid_16 {width: 100%;}
    /* DROP DOWNS */
    .nt-dd1 ul, .nt-dd2 ul, .nt-dd3 ul, .nt-dd4 ul {
        position:fixed;
        top:40px;
        left:-1px;
        margin:0px;
        padding:0px;
        background:#f0f0f0;
        min-width:100%;
        width:100%;
        height:auto;
        z-index:9999;
    }
    .nt-dd2 ul, .nt-dd3 ul {
        margin-top:-24px;
    }
    .nt-dd1 li, .nt-dd2 li, .nt-dd3 li {
        padding:3px 1%;
        width:98%;
        border-bottom: dashed 1px #ccc;
    }
    .nt-dd1 ul {
        margin-left:0px;
    }
    .nt-dd2 ul {
        margin-left:0px;
    }
    .nt-dd3 ul {
        margin-left:0px;
    }
    /* DROP DOWNS */
    #links, #search input {
        display:none;
        opacity:0;
    }
    #header {
        margin-top:40px;
    }
    #overheader {
        position:fixed;
        z-index:99;
    }
    #overheader > div {
        float:right;
    }
    #loginPanel ul {
        margin-left: 0px;
    }
    #navButton {
        position:absolute;
        top:5px;
        left:10px;
        display: block;
    }
    #nav {
        position:absolute;
        top:20px;
        left:0px;
        background: transparent;
        display:none;
        z-index:9999;
    }
    #nav li {
        padding-left:0px;
        padding-right:0px;
        background: #2781D5;
        border-bottom:dashed 1px #fff;
        float:none;
        width:98%;
    }
    #nav a {
        font-weight:bold;
        color:#fff;
    }
    #footer > ul > li {
        margin:0px 1%;
        padding:0px 1%;
        width: 95%;
    }
    #logo img {
        max-width:100%;
    }
    .grid_view li {
        margin:10px 5%;
        padding:10px 1%;
        width:88%;
        float:none;
    }
    .grid_view .thumb {
        margin-left: 15%;
        margin-right: 15%;
    }
    .list_view, .list_view ul {
        margin: 0px;
        padding: 0px;
        width:100%;
    }
    .list_view li {
        margin-top:10px;
        padding-top:10px;
        padding-bottom:40px;
        width:100%;
    }
    .list_view .product_info {
        margin-left:0px;
        width:66%;
    }
    .list_view .thumb {
        width:30%;
    }
    .list_view .thumb img {
        margin-top:20px;
        width:90%;
    }
    .list_view .name {
        position:relative;
        margin-left:-50%;
        font-size:11px;
    }
    .list_view .model {
        font-weight:bold;
    }
    .list_view .overview {
        font-size:9px;
    }
    .list_view .overview a {
        font-size:9px;
        text-decoration:none;
    }
    .list_view .button_see_small, .list_view .button_add_small, .list_view .button_quick_view {
        position:absolute;
        font-size:9px;
    }
    .list_view .button_see_small {
        left:-1px;
    }
    .list_view .button_add_small {
        left:30%;
    }
    .list_view .button_quick_view {
        left:66%;
    }
}
	
/* Old Mobiles */
@media only screen and (max-width: 319px) {
    .hideOnMobile, #languages, #currencies, #contact label, #newsletter, .neco-form-help, .neco-form-tip, .neco-form-error, #neco-unlock-form, .list_view .button_quick_view, .list_view .button_add_small {display:none;opacity:0}
    p, b {font-size:9px !important;}
    form .button {display:block !important;opacity:1 !important;}
    /** grid system **/
    body, .container_16, #maincontent {
        min-width: 100%;
        width: 100%;
    }
    .container_16, #maincontent {
        overflow: hidden;
    }
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16, 
    .aside {
      display: inline;
      float: left;
      position: relative;
      margin-left: 0px;
      margin-right: 0px;
    }
    .container_16 { overflow: hidden; }
    .grid_1 {width: 6.25%;}
    .grid_2 {width: 12.5%;}
    .grid_3 {width: 18.75%;}
    .grid_4 {width: 25%;}
    .grid_5 {width: 31.25%;}
    .grid_6 {width: 37.5%;}
    .grid_7 {width: 43.75%;}
    .grid_8 {width: 50%;}
    .grid_9 {width: 56.25%;}
    .grid_10 {width: 62.5%;}
    .grid_11 {width: 68.75%;}
    .grid_12 {width: 75%;}
    .grid_13, .aside {width: 100%;}
    .grid_14 {width: 87.5%;}
    .grid_15 {width: 93.75%;}
    .grid_16 {width: 100%;}
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .clearfix:before,
    .clearfix:after,
    .container_16:before,
    .container_16:after, 
    #maincontent:before, 
    #maincontent:after {
      content: '.';
      display: block;
      overflow: hidden;
      visibility: hidden;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
    }
    .clearfix:after,
    .container_16:after, 
    #maincontent:after {
      clear: both;
    }
    .clearfix,
    .container_16, 
    #maincontent {
      zoom: 1;
    }
    /** /grid system **/
    /** forms **/
    input[type=text], input[type=number], input[type=password], input[type=date], input[type=email], textarea {
        margin-left:5%;
        margin-right:5%;
        width:90%;
    }
    /** /forms **/
    /* DROP DOWNS */
    .nt-dd1 ul, .nt-dd2 ul, .nt-dd3 ul, .nt-dd4 ul {
        position:fixed;
        top:40px;
        left:-1px;
        margin:0px;
        padding:0px;
        background:#f0f0f0;
        min-width:100%;
        width:100%;
        height:auto;
        z-index:9999;
    }
    .nt-dd2 ul, .nt-dd3 ul {
        margin-top:-24px;
    }
    .nt-dd1 li, .nt-dd2 li, .nt-dd3 li {
        padding:3px 1%;
        width:98%;
        border-bottom: dashed 1px #ccc;
    }
    .nt-dd1 ul {
        margin-left:0px;
    }
    .nt-dd2 ul {
        margin-left:0px;
    }
    .nt-dd3 ul {
        margin-left:0px;
    }
    /* DROP DOWNS */
    #links, #search input {
        display:none;
        opacity:0;
    }
    #header {
        margin-top:40px;
    }
    #overheader {
        position:fixed;
        z-index:99;
    }
    #overheader > div {
        float:right;
    }
    #loginPanel ul {
        margin-left: 0px;
    }
    #navButton {
        position:absolute;
        top:5px;
        left:10px;
        display: block;
    }
    #nav {
        position:absolute;
        top:20px;
        left:0px;
        background: transparent;
        display:none;
        z-index:9999;
    }
    #nav li {
        padding-left:0px;
        padding-right:0px;
        background: #2781D5;
        border-bottom:dashed 1px #fff;
        float:none;
        width:98%;
    }
    #nav a {
        font-weight:bold;
        color:#fff;
    }
    #footer > ul > li {
        margin:0px 1%;
        padding:0px 1%;
        width: 95%;
    }
    #logo img {
        max-width:100%;
    }
    .grid_view li {
        margin:10px 5%;
        padding:10px 1%;
        width:88%;
        float:none;
    }
    .grid_view .thumb {
        margin-left: 15%;
        margin-right: 15%;
    }
    .list_view, .list_view ul {
        margin: 0px;
        padding: 0px;
        width:100%;
    }
    .list_view li {
        margin-top:10px;
        padding-top:10px;
        padding-bottom:40px;
        width:100%;
    }
    .list_view .product_info {
        margin-left:0px;
        width:66%;
    }
    .list_view .thumb {
        width:30%;
    }
    .list_view .thumb img {
        margin-top:20px;
        width:90%;
    }
    .list_view .name {
        position:relative;
        margin-left:0px;
        font-size:11px;
    }
    .list_view .model {
        font-weight:bold;
    }
    .list_view .overview {
        font-size:9px;
    }
    .list_view .overview a {
        font-size:9px;
        text-decoration:none;
    }
    .list_view .button_see_small, .list_view .button_add_small, .list_view .button_quick_view {
        position:absolute;
        font-size:9px;
    }
    .list_view .button_see_small {
        left:-1px;
    }
    #breadcrumbs li, #breadcrumbs a {
    	font-size:9px;
	    height:12px;
	    line-height:12px;
    }
    #breadcrumbs a {
        margin-left:6px;
    	padding:0 5px 0 11px;
    }
    #breadcrumbs a:after {
    	right:-6px;
    	border-width:6px 0px 6px 6px;
    }
    #breadcrumbs a:before {
    	border-width:6px 0px 6px 6px;
    }
}