@import "framework/vendor";
@import "framework/config";

html, body {
	margin-top: 0;
	padding: 0;
	background: $clouds;
	height: auto;
	position: relative;
}
.panel-lateral {
	display: none;
}
#adminTopNav {
	display: none !important;
}





/****************************************************************************************\
** THEME STYLES
\*****************************************************************************************/

a {
	color: $dark-color;
}
ul {
	list-style: none;
}
h1, h2, h3, h4, h5 , h6 {
	font-family: "Oswald", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
figure {
	display: block;
	margin: 0;
}
.top-bar {
  line-height: 0;
}
.top-bar input, .top-bar .button, .top-bar button {
	top: 0px !important;
}
::-webkit-input-placeholder {
  color: $light-dark-color;
  font-family: $alter-font-family;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: $light-dark-color;
  font-family: $alter-font-family;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $light-dark-color;
  font-family: $alter-font-family;
  opacity: 1 ;
}

:-ms-input-placeholder {
  color: $light-dark-color;
  font-family: $alter-font-family;
  opacity: 1;
}

/*=======================================================================================\
== SECTIONS
\========================================================================================*/
@import "components/sections/block";
@import "components/sections/block-grids";
@import "components/sections/mmenu";
@import "components/sections/overheader";
@import "components/sections/navigation";
@import "components/sections/breadcumbs";
@import "components/sections/columns";
@import "components/sections/catalog";
@import "components/sections/underbottom";
@import "components/sections/error";
@import "components/sections/pagination";
@import "components/sections/sort";
@import "components/sections/glossary";
/*=======================================================================================\
== WIDGETS
\========================================================================================*/

@import "components/widgets/actions";
@import "components/widgets/headings";
@import "components/widgets/categories";
@import "components/widgets/main";
@import "components/widgets/latests";
@import "components/widgets/links";
@import "components/widgets/carousel";
@import "components/widgets/forms";
@import "components/widgets/tabs";
@import "components/widgets/lists";
@import "components/widgets/filters";
@import "components/widgets/tables";
@import "components/widgets/store-title";
@import "components/widgets/store-description";
@import "components/widgets/subscribe";
/*=======================================================================================\
== POPUPS
\========================================================================================*/

@import "components/popups/overlay";
@import "components/popups/loader";
@import "components/popups/messages";
@import "components/popups/dropdowns";
@import "components/popups/cart-view";
@import "components/popups/quickview";

/*=======================================================================================\
== PAGES
\========================================================================================*/
@import "components/pages/single-product";
@import "components/pages/checkout";
@import "components/pages/category";
@import "components/pages/login";
@import "components/pages/payment";
@import "components/pages/review";
@import "components/pages/address";
@import "components/pages/success";
@import "components/pages/generic-page";



/*=======================================================================================\
== Custom Styles
\========================================================================================*/

@import "components/custom/home";

/****************************************************************************************\
** MEDIA QUARIES
\*****************************************************************************************/



/* form 0 to (640px), small only*/
@media only screen and (max-width: 40em) {
  .row .row{
    margin: 0;
  }
  .columns .columns {
    padding-left: 0;
    padding-right: 0;
  }
  .catalog-grid {
    ul {
      @include block-grid(1);
    }
  }
  .zoomWrapper {
    img {
      width: 350px !important;
      height: 350px !important;
    }
  }
  .single-product-info {
    margin-top: $h6-font-size * 1.5;
  }
  .breadcrumbs {
    li:not(:first-child) a {
      @include ellipse;
    }
  }
  .catalog-list {
    .picture, .info, .product-info{
      @include grid-column(12);
    }
    .picture {
      padding: $h6-font-size;
    }

    .name, .overview, .price {
      padding: 0
    }
    .overview {
        margin: 0;
    }

    .actions  {
      @include grid-row();
      .action-add, .action-see {
        @include grid-column(6);
      }
    }
  }
  .cart-detail, .cart-summary {
    thead, tbody {
      display: block;
    }
    .cart-recipe {
       td:nth-child(1)
      ,td:nth-child(2)
      ,td:nth-child(3)
      ,td:nth-child(4)
      ,td:nth-child(5)
      ,td:nth-child(6)
      ,td:nth-child(7) {
        width: 50%;
        display: block;
        text-align: left;
        float:left;
        white-space: normal;
        border: none;
        padding: $micro-font-size;
        input {
          width: auto;
        }
      }

      td:nth-child(1) {
        img {
          height: $h1-font-size * 3.5;
        }
      }
      tr {
        text-align: left;
      }
      thead tr {
        display: block;
        position: absolute;
        clip: rect(0,0,0,0);
      }
    }
  }
  .cart-totals {
    &, tr{
      width: 100%;
    }

    tr {
      display: block;
      overflow: hidden;
      &:not(:last-child) {
        border-bottom: none;
      }
      td:first-child{
        text-align: left;
      }
    }
    td {
      width: 50%;
      display: block;
      float: left;
      position: relative;
      white-space: normal;
    }
  }
}


/* min-width 0 up to medium screen (from small to medium)*/
@media only screen and (max-width: 62em) {
  .neco-wizard-controls {
    li {
      width: 100%;
      display: block;
      text-align: left;
    }
  }
  .heading-carousel + .slick-slider{
    .slick-prev, .slick-next {
      z-index:10;
      box-shadow: none;
      margin-top: -$h1-font-size * 1.2;
      right: $h2-font-size;
      &:before {
        font-size: $h4-font-size;
      }
    }
    .slick-prev {
      right: $h1-font-size * 1.5;
    }

  }
  .feature-heading {
    display: block;
    margin-bottom: $h6-font-size;
  }
  .zoomWrapper {
    width: 100% !important;
    height: 350px !important;
  }
  .neco-wizard-controls {
   li {
      span {
        padding: $h6-font-size;
        border: $light-dark-border;
      }
      &:not(:last-child) span{
          border-bottom: none;
      }
    }
  }
  .confirmation-comment textarea {
    width: 100%;
  }
  .logo {
    text-align: center;
    img {
      max-height: $h1-font-size;
    }
  }
  .slickBanner > div {
    margin-bottom: $h1-font-size;
  }
}

/* min-width 1025px, large screens (large to infinity */
@media only screen and (min-width: 62.063em) {
  .widget-latest {
      .name {
          @include ellipse;
      }
	}
	.logo {
		text-align: left;
	}
    .feature-heading {
      display: inline-block;
    }
    .heading {
      margin-bottom: $h6-font-size;
    }
    @import "components/sections/navigation.large";
}

