.message {
  padding: $h6-font-size;
  color: $dark-color;
  font-family: $alter-font-family;
  font-size: $micro-font-size;
  display: block;
  margin-bottom: $h1-font-size;
  border-radius: 2px;
}
.warning {
  background: $tournasol;
}
.error  {
  background: $alizarin;
}
.success {
  background: $emerald;
}
.no-info {
  color: $light-dark-color;
  font-size: $h6-font-size;
  font-family: $alter-font-family;
  margin-top: $h6-font-size;
  margin-bottom: $h1-font-size;
  a {
    color: $river;
  }
}
