
.widget-product-list-grid .picture {
    position:relative;
}

.widget-product-list-grid .picture .items {
    margin-left:55px;
}

.widget-product-list-grid .thumbs {
    position:absolute;
    height:100%;
    width:55px;
    display:block;
    overflow:hidden;
    top:0;
    left:0;
}

.widget-product-list-grid .thumbs img {
    width:50px;
    margin:auto;
    margin-top:5px;
    border:solid 1px #ddd;
}
