

$forms-input-font-size: $micro-font-size;
$forms-input-padding: 0 $micro-font-size;
$forms-input-color: $light-dark-color;
$forms-input-font-family: $alter-font-family;
$forms-inset-box-shadow: none;
$forms-border-color: rgba($light-dark-color, 0.4);
$forms-border-width: 1px;
$forms-border-style: solid;

$info-form-fieldset-border: none;
$info-form-fieldset-background: $light-color;
$info-form-fieldset-margin: 0 0  $h1-font-size 0;

$info-form-legend-font-size: $h5-font-size;
$info-form-legend-color: $light-color;
$info-form-legend-font-family: $base-font-family;
$info-form-legend-font-weight: 600;
$info-form-legend-background: $dark-color;
$info-form-legend-padding: ($h6-font-size / 2) $h3-font-size;
$info-form-legend-text-transform:  uppercase;

$info-form-label-margin: 0;
$info-form-label-color: $light-dark-color;
$info-form-label-font-size: $milli-font-size;
$info-form-label-font-family:  $alter-font-family;
$info-form-label-font-weight: 600;


$simple-form-padding: $h6-font-size;
$simple-form-background: $light-color;

$forms-textarea-height: $h1-font-size * 3;

/*------------------------------------------------*/
// Shared
input[type="fullname"],
input[type="name"],
input[type="lastname"],
input[type="firstname"],
input[type="rif"],
input[type="date"],
input[type="number"],
input[type="phone"],
input[type="money"],
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  @extend %fill;
  padding: $forms-input-padding;
  color:$forms-input-color;
  font-size: $forms-input-font-size;
  font-family: $forms-input-font-family;
  box-shadow: $forms-inset-box-shadow;
  border-color: $forms-border-color;
  border-width: $forms-border-width;
  border-style: $forms-border-style;
  position: relative;
  outline: 0;
  background: $light-color;
  min-height: 2.3125rem;
  &:focus, &:active {
    box-shadow: $forms-inset-box-shadow;
  }
}
textarea {
  padding-top: $milli-font-size;
  height: $forms-textarea-height;
  max-height: 100%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select{
  margin: 0
}

%form-entry, .form-entry , label {
  position: relative;
  padding: 0 0 $micro-font-size 0;
}
%form-entry, .form-entry{
  max-width: 33.125em;
}
label {
  display: inline-block;
}

.info-form, .simple-form {
  div {
    position: relative;
  }
  select, input {
    display: inline-block;
  }
  select {
    width: 100%;
  }
  label, select {
    font-family:$info-form-label-font-family;
    color: $info-form-label-color;
    font-size: $info-form-label-font-size;
    font-weight: $info-form-label-font-weight;
  }
}
.reminder {
  color: $light-dark-color;
  font-size: $micro-font-size;
  font-weight: 600;
  font-family: $alter-font-family;
  a {
    color: $river;
    font-weight: 600;
  }
}

/*------------------------------------------------*/
// Shared Ends

/*------------------------------------------------*/
// Info Form


%info-form, .info-form {
  fieldset {
    border: $info-form-fieldset-border;
    background: $info-form-fieldset-background;
    margin: $info-form-fieldset-margin;
  }
  legend {
    margin: 0;
    display: inline-block;
    background: $info-form-legend-background;
    font-size: $info-form-legend-font-size;
    color: $info-form-legend-color;
    font-family:$info-form-legend-font-family;
    font-weight: $info-form-legend-font-weight;
    padding: $info-form-legend-padding;
    text-transform:$info-form-legend-text-transform;
  }
  .rif-entry {
    & {
      margin: 0 0 $micro-font-size 0;
    }
    > label {
      margin: 0 0 ($micro-font-size / 2) 0;
    }
    *{
      margin: 0;
    }
  }
}

/*---------------------------------------------------------------------------------------------------------------------*/
/** INFO-FORM ENDS
/*--------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------*/
// Simple-Form

.simple-form {
  padding: $simple-form-padding;
  background:$simple-form-background;
  input {
    display: block;
  }
}

/*---------------------------------------------------------------------------------------------------------------------*/
// Simple-Form Ends


/*------------------------------------------------*/
// Neco-Form


.neco-form-arroba {
  display: none;
}
.neco-input-required {
  color: $alizarin;
  z-index: 100;
  position: relative;
  font-size: $h6-font-size;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 ($h6-font-size / 2);
  transform: translate3d(0, ($milli-font-size / 4), 0 );

}

.neco-input-error, .neco-input-success {
  @include single-transition(background-color);
  color: $light-dark-color !important;
}

.neco-input-error {
  background: lighten(rgba($alizarin, 0.4), 15%) url("../../../images/form-error.png") no-repeat scroll 98% ($h6-font-size / 2) !important;
  border-color: $alizarin !important;
}

.neco-input-success {
  background: lighten(rgba($emerald, 0.4), 15%) url("../../../images/form-ok.png") no-repeat scroll 98% ($h6-font-size / 2) !important;
  border-color: $emerald !important;
}

.neco-form-error {
  position: absolute;
  color: $light-color;
  font-family: $alter-font-family;
  font-size: $micro-font-size;
  width: 100%;
  max-width: 20rem;
  min-height: 3rem;
  background: lighten($tournasol, 10%);
  padding: $micro-font-size;
  left: 100%;
  top: 50%;
  opacity: 0;
  transform-origin: 0% 50%;
  transform: translate3d($h4-font-size, -5rem / 2, 0) scale(0);
  @include arrow-lazy($direction: left, $size: 10px, $color: lighten($tournasol, 10%));
  @include single-transition(all);
  &:hover {
    color: $light-color;
  }
}
.neco-form-error.active-feedback{
  opacity: 1;
  transform: translate3d($h4-font-size, -5rem / 2, 0) scale(1);
}

.neco-submit-error {
  color: $alizarin;
  font-family: $alter-font-family;
  font-size: $micro-font-size;
  padding: $micro-font-size 0 0 0;
  border-bottom: 1px solid $dark-light-color;
  margin: 0;
}

/*------------------------------------------------*/
// Neco-Form Ends


/*------------------------------------------------*/
// Filter-Form


.filter-form {
  input,
  select,
  textarea {
    margin: 0 0 $micro-font-size 0;
  }
}

/*------------------------------------------------*/
// Filter-Form

/*------------------------------------------------*/
// Payment Form

.payment-form {
  @extend  %page-heading;
  ul {
    margin: 0;
    li.row {
      max-width: 100%;
      margin: 0;
    }
  }
}

/*------------------------------------------------*/
// Contac form

.contact-form {
  .form-entry {
    max-width: 100%;
  }
  padding-top: 0;
  .neco-input-checkbox {
    display: inline-block;
    margin: 0 0 0 $micro-font-size;
  }
}
