
$article-padding: $micro-font-size 0;
$article-border-bottom: $clouds-border;
$article-background: $light-color;
$article-children-margin: $micro-font-size $micro-font-size $micro-font-size 0;

$info-padding-left: 0;

$picture-padding: 0 $micro-font-size;

$price-name-color: $dark-color;
$price-name-font-family: $base-font-family;
$price-name-font-size: rem-calc(13);
$price-name-font-style: normal;

$name-text-transform: uppercase;

$old-price-color: $dark-color;
$old-price-background: $dark-light-color;
$old-price-font-size: rem-calc(9);
$old-price-margin: 0;

$price-font-weight: 600;
$price-text-transform: uppercase;

/***********************************************************************************************************************/
/** PRIVATE PROPERTIES
/**********************************************************************************************************************/


/***********************************************************************************************************************/
/** WIDGET-LATEST
/**********************************************************************************************************************/

.widget-latest {
  .article.row {
    padding: $article-padding;
    border-bottom: $article-border-bottom;
    background: $article-background;
    margin-left: 0;
    margin-right: 0;
  }
  .info {
    padding-left: $info-padding-left;
    figure {
      margin: 0;
    }
  }
  .picture {
    padding: $picture-padding;
    height: auto;
  }
  .thumb {
    &, img {
      @extend %fill;
      height: auto;
      max-width: 100%;
    }
  }
  .rating, .name, .price, .new-price {
    margin: $article-children-margin;
  }
  .rating, .name, .price {
    @extend %fill;
  }
  .name {
    text-transform: $name-text-transform;
    font-size: $milli-font-size;
  }
  .overview {
    @extend .overview-text;
  }
  .price, .old-price, .new-price, .name {
    @extend %block-item-title;
  }
  .price, .new-price {
    text-transform: $price-text-transform;
    font-weight: $price-font-weight;
    margin-right: $milli-font-size / 2;
  }
  .old-price {
    background: $old-price-background;
    color: $old-price-color;
    font-size: $old-price-font-size;
    margin: $old-price-margin;
    text-decoration: line-through;
  }
  .price, .old-price, .new-price, {
    display: inline;
  }
}



/***********************************************************************************************************************/
/** WIDGET-LATEST ENDS
/**********************************************************************************************************************/

.widget-latest {
  @include breakpoint("small") {
    .price, .old-price, .new-price {
        font-size: $h6-font-size;
        margin-bottom: none;
    }
    .old-price {
        font-size: $micro-font-size;
    }
  }
}

.widget-latest {
  @include breakpoint("small-to-medium") {
    .overview, .old-price {
      font-size: $micro-font-size;
    }
    .name {
      font-size: $h6-font-size;
    }
    .new-price, .price {
      font-size: $h4-font-size;
      margin-right: $micro-font-size / 2;
    }
  }
}
/***********************************************************************************************************************/
/** WIDGET-LATEST MEDIA
/**********************************************************************************************************************/
