/*------------------------------------------------*/
// REVIEW SHARED STYLES

.review-item {
  padding: $micro-font-size;
  background: $light-color;
}
.review-product, .review-date, .review-body {
  font-family: $alter-font-family;
  margin-bottom: $micro-font-size;
  font-size: $micro-font-size;
}
.review-date {
  float: right;
}
.review-date, .review-body {
  color: $light-dark-color;
}
.confirm {
  color: $alizarin;
  font-size: $micro-font-size;
  font-weight: 700;
}

.review-actions, .confirm {
  a, span {
    font-weight: 700;
    font-family: $alter-font-family;
  }
  a {
    color: $light-dark-color;
    font-size: $milli-font-size;
  }
  a {
    margin-left: $milli-font-size / 2;
  }
  a.action-choice {
    margin-left: 0;
  }
}



/*------------------------------------------------*/
// REVIEW SHARED STYLES ENDS

.comment-content {
  @include clearfix();
}
.product-comment {
  margin: $micro-font-size 0 0 0;

  #msgReview, .content, .comment-body textarea {
    @extend %fill;
  }
  .comment-body {
    textarea {
      font-family: $alter-font-family;
      font-size: $micro-font-size;
      margin-bottom: 0;
      font-weight: normal;
    }
  }
  .rating-heading {
    font-family: $alter-font-family;
    color: $light-dark-color;
    font-size: $micro-font-size;
    font-weight: 600;
  }
  .rating-points, .rating-heading {
    display: inline-block;
    width: auto;
    margin: ($micro-font-size / 2) ($micro-font-size / 2) ($micro-font-size / 2) 0;
  }
  .rating-points {
    cursor: pointer;
  }
  .star-item {
    padding: 0 ($milli-font-size / 2) 0 0;
    display: inline-block;
  }
  .star_review,
  .star_clicked {
    display: inline-block;
    background: url("../../../images/star_review.png");
    width: 14px;
    height: 14px;
  }
  .star_review {
    background-position: 14px top;

  }
  .star_clicked {
    background-position: 0 top !important;
  }

  .action-comment {
    @include buttonable();
    padding: ($micro-font-size / 2) $micro-font-size;
    color: $light-color;
    background: $river;
    font-family: $base-font-family;
    border: 1px solid $river;
    font-size: $micro-font-size;
    text-transform: uppercase;
    margin: 0;
    float: right;
  }
}

/*------------------------------------------------*/
// PRODUCT REVIEW

.product-review {
  overflow: hidden;
  ul {
    margin-left: 0;
    #noComments {
      color: $light-dark-color;
      font-family: $alter-font-family;
      font-weight: 600;
      font-size: $micro-font-size;
    }
  }
}

.reviewer-info{
  .name, .date, .rating {
    margin-top: $micro-font-size / 2;
    margin-bottom: $micro-font-size / 2;
  }
  .name, .date {
    font-family: $alter-font-family;
    color: $dark-color;
  }
  .rating, .date {
    display: inline-block;
    margin-right: $h4-font-size
  }
  .name {
    font-size: $h6-font-size;
    font-family: $alter-font-family;
    color: $light-dark-color;
    display: block;
    font-weight: bold;
  }
  .date {
    font-size: $milli-font-size;
    color: $dark-light-color;
  }
}

.review-content {
  margin: $micro-font-size /2  0 $h6-font-size 0;
  .review-body {
    padding: 0 $micro-font-size $micro-font-size 0;
    color: $light-dark-color;
    font-family: $alter-font-family;
    font-size: $micro-font-size;
    font-weight: 400;
  }
}

.data-dislikes, .data-likes {
  margin-right: $milli-font-size / 2;
  i {
    margin-right: $milli-font-size / 2;
  }
}
.data-dislikes {
  i {
    color: lighten($alizarin, 15%);
  }
}
.data-likes {
  i {
    color: lighten($emerald, 15%);
  }
}

/*------------------------------------------------*/
// PRODUCT REVIEW ENDS

