 @import "../../rrssb/rrssb";
 /*------------------------------------------------*/
 // SINGLE PRODUCT

.single-product {
  @extend %fill;
  display: inline-block;
  margin-top: 0;
}

.single-product, .row.engagement-actions {
  margin-bottom: $h1-font-size;
}

.single-product-info {
  .name {
    font-size: $h3-font-size;
    color: $dark-color;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: $h5-font-size;
    margin-top: 0;
  }
  .model, .new_arice, .old_price,  .availability, .tags a, .discount, .quantity {
    font-family: $alter-font-family;
  }
  .model , .share-buttons, .average, .overview, .offers, .availability, .discount, .actions, .options {
    margin:  0 0 $milli-font-size 0 ;
    display: block;
    padding: 0;
  }
  .average span, .average img, .new_price, .old_price, .price {
    margin-right: $milli-font-size / 2;
  }
  .average {
    span {
      color: $light-dark-color;
      font-family: $alter-font-family;
      font-size: $micro-font-size;
    }
  }
  .new_price, .old_price, .price {
    display: inline-block;
    font-family: $base-font-family;
  }
  .new_price, .price {
    font-size: $h4-font-size;
    font-weight: 600;
    color: $dark-color;
  }
  .old_price {
    font-size: $micro-font-size;
    color: $light-dark-color;
    text-decoration: line-through;
  }
  .model, .options .label {
    color: $light-dark-color;
    font-family: $alter-font-family;
    font-size: $micro-font-size;
    font-weight: bold;
    span {
      font-weight: normal;
      margin-left: $milli-font-size / 2;
    }
  }
  .overview {
    p {
      margin: 0;
      color: $light-dark-color;
      font-size: $micro-font-size;
      font-family: $alter-font-family;
    }
    *:not(p), p:empty{
      display: none;
    }
  }
  .availability {
    span, small {
      color: $light-dark-color;
      font-size: $micro-font-size;
    }
    small {
      color: $dark-color;
      margin: 0 ($micro-font-size / 2);
    }
  }
  .tags {
    @include inline-list();
    margin: $milli-font-size / 2  0;
    position: relative;
    &:before {
      content: "\f02b";
      display: inline-block;
      position: absolute;
      font-family: "FontAwesome";
      top: 0;
      left: 0;
    }
    a {
      position: relative;
    }
    li:not(:last-child) a:after {
      content: "/";
      display: inline-block;
      position: absolute;
      color: $dark-color;
      left: 100%;
      top: 0;
      margin-left: $milli-font-size / 2;
    }
  }
  .discount {
    p {
      margin-bottom: $h6-font-size;
      font-size: $h6-font-size;
    }
    th {
      font-size: $micro-font-size;
      margin-right: $micro-font-size;
    }
  }
  .quantity {
    margin: 0 0 $h5-font-size 0;
    span, input, .arrow-down, .arrow-up{
      display: inline-block;
      margin-right: $milli-font-size / 2;
    }
    input {
      max-width: $h2-font-size * 1.5;
      max-height: $h2-font-size;
      text-align: center;
      margin-bottom: 0;

    }
    .arrow-down i, .arrow-up i {
      color: $light-color;
      position: relative;
      font-size: $micro-font-size;
      padding: ($milli-font-size * 0.93) $micro-font-size;
      background: $dark-color;
      @include buttonable();
    }
  }
  .options {
    .label {
      padding:  0 0 ($h6-font-size / 2) 0;
    }
    label, select {
      display: block;
    }
    ul {
      margin: 0;
      * {
        font-family: $alter-font-family;
      }
    }
    li {
      width: auto;
      display: inline-block;
      padding: 0 $h6-font-size 0 0;
    }
    select {
      width: auto;
    }
  }
}

.product-description {
  background: $light-color;
  padding: $micro-font-size;
  @include clearfix();

  strong, em, p, b {
    color: $light-dark-color;
  }
  & *:empty {
    display: none;
  }
  p:not(:empty)  {
    font-family: $alter-font-family !important;
    margin: 0 0 $micro-font-size 0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $dark-color ;
    font-family: $base-font-family;
    margin: 0;
  }
  h1 {
    font-size: $h3-font-size;
  }
  h2 {
    font-size: $h4-font-size;
  }
  h3 {
    font-size: $h5-font-size;
  }
  h4 {
    font-size: $h6-font-size;
  }
  h5, strong, em {
    font-size: $micro-font-size;
  }
  h6 {
    font-size: $milli-font-size;
  }
  ul {
    @extend %content-block-list;
  }
  table {
    width: 100% !important;
    td,
    td *,
    th,
    th * {
      font-size: $alter-font-family;
    }
  }
  *[class^="col"] {
    display: inline-block;
    float: left !important;
    margin: 0 !important;
  }
  .col1 {width: 8.33333% !important;}
  .col2 {width: 16.66667% !important;}
  .col3 {width: 25% !important;}
  .col4 {width: 33.33333% !important;}
  .col5 {width: 41.66667% °important;}
  .col6 {width: 50% !important;}
  .col7 {width: 58.33333% !important;}
  .col8 {width: 66.66667% !important;}
  .col9 {width: 75% !important;}
  .col10 {width: 83.33333% !important;}
  .col11 {width: 91.66667% !important;}
  .col12 {width: 100% !important;}
}

/*------------------------------------------------*/
// PRODUCT GALLERY

 .zoomContainer {
   z-index: 999;
 }
.product-gallery {
  .zoomWrapper {
    &, img {
      @extend %fill;
    }
  }
  .thumb {
    width: 100%;
    height: auto;
    max-width: $h1-font-size * 1.5;
    display: inline-block;
    margin: $milli-font-size $milli-font-size $micro-font-size 0;
    border: 1px solid $dark-light-color;
    img {
      @extend %fill;
    }
  }
}

 /*------------------------------------------------*/
 // PRODUCT GALLERY ENDS
