/** category list **/
/*.category_view {
    list-style:none;
}
.category_view li {
    margin:20px 10px;
    padding:5px;
    float:left;
    text-align:center;
}
.product_preview {
    margin: 0px;
    width:auto;
    height:auto;
    float:left;
    text-align:center;
    overflow:hidden;
}*/
/** /category list **/