@charset "utf-8";
.neco-form {
    margin:8px;
    padding:4px;
}
.neco-label {
    width:auto;
    min-width:220px;
    max-width:280px;
    height:32px;
    line-height:32px;
    float:left;
}
.neco-form input {
    border-top:solid 1px #A8A8A8;
    border-left:solid 1px #A8A8A8;
    border-bottom:solid 1px #D8D8D8;
    border-right:solid 1px #D8D8D8;
    box-shadow:inset 1px 1px 3px #D8D8D8;
    -moz-box-shadow:inset 1px 1px 3px #D8D8D8;
    -webkit-box-shadow:inset 1px 1px 3px #D8D8D8;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:180px;
    height:24px;
    line-height:24px;
    float:left;
}
.neco-form input[type=checkbox] {
    border-top:solid 1px #A8A8A8;
    border-left:solid 1px #A8A8A8;
    border-bottom:solid 1px #D8D8D8;
    border-right:solid 1px #D8D8D8;
    box-shadow:inset 1px 1px 3px #D8D8D8;
    -moz-box-shadow:inset 1px 1px 3px #D8D8D8;
    -webkit-box-shadow:inset 1px 1px 3px #D8D8D8;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:10px;
    height:10px;
    line-height:24px;
    float:left;
}
.neco-form select {
    border-top:solid 1px #A8A8A8;
    border-left:solid 1px #A8A8A8;
    border-bottom:solid 1px #D8D8D8;
    border-right:solid 1px #D8D8D8;
    box-shadow:inset 1px 1px 3px #D8D8D8;
    -moz-box-shadow:inset 1px 1px 3px #D8D8D8;
    -webkit-box-shadow:inset 1px 1px 3px #D8D8D8;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:auto;
    height:32px;
    line-height:24px;
    float:left;
}
.neco-form input[type=checkbox] {
    width:14px;
    height:14px;
}
.neco-form textarea {
    border-top:solid 1px #A8A8A8;
    border-left:solid 1px #A8A8A8;
    border-bottom:solid 1px #D8D8D8;
    border-right:solid 1px #D8D8D8;
    box-shadow:inset 1px 1px 3px #D8D8D8;
    -moz-box-shadow:inset 1px 1px 3px #D8D8D8;
    -webkit-box-shadow:inset 1px 1px 3px #D8D8D8;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:180px;
    height:64px;
    line-height:24px;
    float:left;
}
.neco-form input:hover {
    border-color:#D8D8D8;
}
.neco-form input:focus {
    background: #e6f8fd; /* Old browsers */
    background: -moz-linear-gradient(top, #e6f8fd 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f8fd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e6f8fd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e6f8fd 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e6f8fd 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e6f8fd 0%,#ffffff 100%); /* W3C */
    border-color:#3399FF;
}
.neco-input-required {
    color:#F00;
    font-weight:bold;
    font-size:16px;
}
.neco-submit-error {
    color:#F00;
    font-weight:bold;
}
.neco-input-error {
    background:#F66;
    border-color:#F00 !important;
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
.neco-input-success {
    background:#A7EBBE;
    border-color:#0C0 !important;
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
.neco-form-arroba {
    margin-left: 5px;
    padding:3px;
    background:#000;
    font-weight:bold;
    color:#fff !important;
    cursor:pointer;
}
.neco-form-help , .neco-form-tip, .neco-form-error {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    display:block;
    float:left;
    cursor:pointer;
}
.neco-form-help {
    background:url(../images/help.png) left top no-repeat;
}
.neco-form-tip {
    background:url(../images/warning.png) left top no-repeat;
}
.neco-form-error {
    background:url(../images/block.png) left top no-repeat;
}
a .neco-tooltip {
    position:absolute;
    top:auto;
    left:auto;
    padding:5px 8px;
    display:none;
    line-height:14px;
    z-index:10;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    box-shadow:0px 0px 5px #999;
    -moz-box-shadow:0px 0px 5px #999;
    -webkit-box-shadow:0px 0px 5px #999;
    behavior:url(ie-css3.htc);
}
a:hover .neco-tooltip {display:block}
a.neco-form-help .neco-tooltip {
    background: #34BDEF;
    color:#fff !important;
}
a.neco-form-tip .neco-tooltip {
    background:#FF9A07;
    color:#fff !important;
}
a.neco-form-error .neco-tooltip {
    background: #F00;
    color:#fff !important;
}
#neco-unlock-sample p {
    padding:4px;
    background: #BF2D4D;
    font:bold 14px verdana;
    border:solid 1px #ddd;
    border-radius:4px;
    color:#fff;
}
.neco-unlock-sample {background: url(../images/slide_sample.gif) transparent no-repeat;width:192px;height:72px;display:block}
#neco-unlock-form { position: relative; width:320px;height:94px; background-image:url(../images/lock-bottom.png); }
#slide-to-unlock {  position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height:94px; background:url(../images/slide-to-unlock.gif) transparent no-repeat; }
#neco-unlock-slider-wrapper { padding-left:22px; padding-top:23px; }
#neco-unlock-slider { width:207px; height:50px; }
.ui-slider .ui-slider-handle{ position: absolute; z-index: 10 !important; height: 50px; width: 72px; top: 0px; left: 0px; margin-left:0px;background: url(../images/lock-slider.png) transparent no-repeat; border:none; cursor:pointer }
.ui-slider {background:transparent;border:none}

/* Used by the jQuery slider */
.ui-slider { position: relative; background-repeat: no-repeat; background-position: center center; }
