$catalog-model-present: false;
$catalog-overview-present: false;
$catalog-description-present: false;
$catalog-list-overview-present: true;

$catalog-section-background: $light-color;

$catalog-thumb-padding: $micro-font-size;

$catalog-info-padding: 0 $micro-font-size $micro-font-size;

$catalog-info-children-margin: 0 0 $micro-font-size 0;
$catalog-info-children-padding:  0 $micro-font-size;

$catalog-text-children-text-align: center;


$catalog-list-info-padding: $micro-font-size;

$catalog-price-color: $dark-light-color;
$catalog-price-font-size: $h5-font-size;
$catalog-price-font-weight: 600;
$catalog-price-font-family: $base-font-family;

$catalog-list-margin: 0 0 $h1-font-size 0;
$catalog-list-item-background: $light-color;
$catalog-list-item-border-width: 0px 0px 1px 0px ;
$catalog-list-item-border-color: $clouds;
$catalog-list-item-border-style: solid;


$catalog-list-picture-padding: 0;

$catalog-list-children-margin: 0 0 $micro-font-size 0;
$catalog-list-children-text-align: left;

$catalog-list-children-text-text-transform: uppercase;
$catalog-list-children-text-font-weight: 600;
$catalog-list-children-text-font-size: $micro-font-size;

$catalog-list-overview-font-size: $micro-font-size;
$catalog-list-overview-font-weight: 400;
$catalog-list-overview-color: $light-dark-color;

$catalog-list-price-color: $h5-font-size;

/*------------------------------------------------*/
// CATALOG
.catalog {
  ul {
   margin-left: 0;
  }
  .picture, .info {
    background: $catalog-section-background;
    position: relative;
  }
  .thumb {
    padding: $catalog-thumb-padding;
    position: relative;
    &, img {
      @extend %fill;
    }
    img {
      width: auto;
      position: absolute;
      left:50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    min-height: 17.125rem;
    img[src$=".gif"] {
      max-width: $h3-font-size;
      max-height: $h3-font-size;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d((-$h3-font-size / 2), (-$h3-font-size / 2), 0);
    }
  }
  .info {
    @extend %fill;
    padding: $catalog-info-padding;
    text-align: $catalog-text-children-text-align;
  }
  .rating , .name, .description, .overview, .model, .price{
     margin: $catalog-info-children-margin;
  }
  .rating {
    line-height: 1;
  }
  .name {
    @extend %block-item-title;
  }
  .model {
    @include isPresent($catalog-model-present);
  }
  .description {
    @include isPresent($catalog-description-present);
  }
  .overview {
    @include isPresent($catalog-overview-present);
    @extend %block-item-body;
  }
  .price {
    color: $catalog-price-color;
    font-size: $catalog-price-font-size;
    font-weight: $catalog-price-font-weight;
    font-family: $catalog-price-font-family;
    display: block;
  }

}

/*------------------------------------------------*/
// CATALOG ENDS


/*------------------------------------------------*/
// CATALOG LIST VIEW
.catalog.catalog-list {
  .thumb {
    min-width: 100% ;
    min-height: 100%;
    img[src$=".gif"] {
      transform: translate3d(-25%, 250%, 0);
    }
  }
}
.catalog-list {
  margin: 0 0 $h6-font-size 0;
  .thumb {
    padding: $catalog-thumb-padding;
    position: relative;
    &, img {
      @extend %fill;
    }
    img {
      width: auto;
      position: relative;
      left:auto;
      top: auto;
      transform: translate3d(0, 0, 0);
    }
  }
  ul {
    @extend %fill;
    display: inline-block;
    list-style: none;
    margin: 0;
  }
  li {
    display: block;
    width: 100%;
    @include grid-row();
    background: $catalog-list-item-background;
    border-color: $catalog-list-item-border-color;
    border-style: $catalog-list-item-border-style;
    border-width: $catalog-list-item-border-width;
  }
  .picture {
    @include grid-column(3);
    padding: $catalog-list-picture-padding;
  }
  .info {
    @include grid-column(9);
    padding: $catalog-list-info-padding;
    text-align: $catalog-list-children-text-align;
  }
  .name, .price, .old-price, .new-price, .actions .action-see, .actions .action-add, .rating {
    margin: $catalog-list-children-margin;
  }
  .name, .new-price, .price {
    text-transform: $catalog-list-children-text-text-transform;
    font-size: $catalog-list-children-text-font-size;
  }
  .overview {
    font-size: $catalog-list-overview-font-size;
    font-weight: $catalog-list-overview-font-weight;
    color: $catalog-list-overview-color;
  }
  .new-price, .price {
    font-size: $catalog-list-price-color;
  }
  .product-info {
    .overview {
      @include isPresent($catalog-list-overview-present);
    }
  }
  .rating.placeholder {
    display: none;
  }
  @include breakpoint("small-to-medium") {
    .rating {
      padding: 0;
    }
    .picture {
      .thumb {
        padding: 0;
      }
      img {
        width: auto;
        margin: 0 auto;
      }
    }
  }
}

/*------------------------------------------------*/
// CATALOG LIST ENDS


/*------------------------------------------------*/
// CATALOG GRID

/*------------------------------------------------*/
// CATALOG ENDS

