/*------------------------------------------------*/
// CATALOG COLUMN CENTER

 .column-center {
  @extend %page-heading;

  p {
    color: $light-dark-color;
    font-family: $alter-font-family;
    font-size: $micro-font-size;
  }
}

/*------------------------------------------------*/
// CATALOG COLUMN CENTER ENDS
