/*------------------------------------------------*/
// OVERRIDE: MMENU

#leftOffCanvas {
  @include breakpoint("small-to-medium") {
    & {
      visibility: hidden;
      clip: rect(0, 0, 0, 0);
      position: fixed;
    }
  }
}

.mm-menu {
  @include breakpoint("small-to-medium") {
    background: $dark-color;
  }
}
.mm-list {
  @include breakpoint("small-to-medium") {
    & > li{
      > a {
        color: $dark-light-color;
        font-family: $alter-font-family;
        font-size: $micro-font-size;
        padding: $micro-font-size;
      }
    } 
  } 
}

// [.mm-list::after]
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults)::after {
  @include breakpoint("small-to-medium") {
    margin-left: 0;
  }
}

/*------------------------------------------------*/
// OVERRIDE: MMENU ENDS
