/*------------------------------------------------*/
// PAGINATION

.pagination {
  margin-top: 0;
  color: $dark-color;
  font-family: $alter-font-family;
  font-size: $h6-font-size;
  .links {
    margin: $h6-font-size 0 $micro-font-size 0;
  }
  a {
    margin: 0 0 0 $milli-font-size;
  }
}

/*------------------------------------------------*/
// PAGINATION ENDS
