/*------------------------------------------------*/
// BREAKCRUMBS

.breadcrumbs {
  background: none;
  border: none;
  padding: 0 $h6-font-size $h6-font-size 0;
  margin: -$h3-font-size 0 0 0;
  a {
    color: $dark-color;
    font-family: $alter-font-family;
    &:hover {
      text-decoration: none;
      color: $river;
    }
    &:before {
      &:hover a{
        text-decoration: none;

      }
    }
  }
}