.glossary {
  ul {
    margin: 0;
  }
}

.glossary-item {
  padding: $micro-font-size;
  background: $light-color;
}

.glossary-item-head {
  position: relative;
   .post-date, .post-rating {
     display: inline-block;
     width: 100%;
     margin: 0 0 $micro-font-size 0;
     line-height: 1;
     * {
       margin: 0 25% 0 25%;
       font-size: $milli-font-size;
       color: $light-dark-color;
       font-family: $alter-font-family;
       display: block;
     }

     span {
       font-weight: 600;
       padding: 0 0 $micro-font-size 0;
     }
     small {
       font-size: $micro-font-size;
       
     }
   }
   @include breakpoint("small-to-medium") {
     margin: 0 0 ($h6-font-size / 2) 0;
     .post-date, .post-rating {
       * {
         margin: 0 $micro-font-size 0 0;
         display: inline-block;
       }
       span {
         padding: 0;
       }
     }
   }
}

.glossary-item-body {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: $clouds;

  .name, .overview, p {
    margin: 0 0 $micro-font-size 0;
    @extend %fill;
  }
  .name * {
    @extend %block-item-title;
  }
  .overview {
    @extend %block-item-body;
  }
  .read-more {
    color: $dark-color;
    font-weight: 400;
    display: inline-block;
  }
  @include breakpoint("small-to-medium") {
    border-width: 0;
    * {
       margin: 0 $micro-font-size 0 0;
       display: inline-block;
    }
    span {
      padding: 0;
    }
  }
}

.glossary-item-footer.inline-list {
  > li:first-child {
    margin: 0;
  }
  > li {
    color: $light-dark-color;
    font-family: $alter-font-family;
    font-size: $micro-font-size;
  }
}
