/*------------------------------------------------*/
// NAVIGATION

.logo {
  &, a, img {
    display: inline-block;
    line-height: 3rem;
    vertical-align: middle;
    font-size: 100%;
  }

  a, img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }
}
.content {
  position: relative;
}

.main-header {
  background: rgba($dark-color, 0);
  margin: 0;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1000;
  top: $h1-font-size;
  left: 0;
  @include breakpoint("small-to-medium") {
     top: $h1-font-size * 1.5;
  }
}

/*------------------------------------------------*/
// NAVIGATION ENDS
