/*------------------------------------------------*/
// MESSAGES

.text-message {
  display: block;
  width: 100%;
  margin: 0 0 $h1-font-size 0;
  p {
    margin-bottom: 0;
    a {
      color: $river;
      font-weight: 600;
    }
  }
}

/*------------------------------------------------*/
// MESSAGES ENDS
