/*------------------------------------------------*/
// GENERICS

.cachapua-page-heading, %cachapua-page-heading {
  font: rem-calc(50) $base-font-family !important;
  color: $dark-color !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  margin-bottom: $h1-font-size !important;
}
.cachapua-block-title, %cachapua-block-title {
  font: $h5-font-size $alter-font-family;
  color: $dark-color;
}

.cachapua-block-body, %cachapua-block-body {
  font: $micro-font-size $alter-font-family;
  color: $light-dark-color;
}

.slice-vertical-press, %slice-vertical-press {
  padding-top: $h1-font-size;
  padding-bottom: $h1-font-size;
}

@mixin column-boundaries ($side: "left", $padding: ($column-gutter / 2)) {
  max-width: $row-width / 2;
  @if $side == "left" {
    padding-left: $padding !important;
  } @else {
    padding-right: $padding !important;
  }
}

@mixin share-vetical-press ($type) {
  @if $type == "slice" {
    @extend %slice-vertical-press;
    margin-bottom: 0 !important;
  }
}


@mixin slice-boundaries ($padding:0 ($column-gutter / 2)) {
  padding: $padding;
  margin: 0 auto;
  width: 100%;
  max-width: $row-width;
}

@mixin block-paragraph($color: $dark-color, $font-size: $micro-font-size) {
  color: $color;
  font-size: $font-size;
}

/*------------------------------------------------*/
// GENERICS ENDS


.main-section.home {
  .page-slice-columns {
    display: none;
  }
}
.page-slice-featured-content {
  .row {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
  @include breakpoint("small-to-medium") {
    .heading + .widget-content {
      overflow: visible;
      display: table;
    }
  }
}

/*------------------------------------------------*/
// Top Banner: Camera Plugin

.cachapua-top-banner {
  width: 100%;
  margin-bottom: 0 !important;
  .camera_commands {
    display: none;
  }
  .camera_pag {
    transform: translate3d(-50%, -150%, 0);
    .camera_pag_ul {
      text-align: left !important;
    }
    @include breakpoint("small") {
      top: 100%;
      left: 50%;
      transform: translate3d(-50%, -100%, 0);
      .camera_pag_ul {
        text-align: center !important;
      }
    }
  }
  .camera_caption {
    transform: translate3d(-50%, 0%, 0);
    & > div {
      padding: 0;
    }
    @include  breakpoint("small") {
       transform: translate3d(-50%, -15%, 0);
    }
  }

  .camera_caption_text, .camera_caption_link  {
    display: block;
    font-weight: 600;
  }

  .camera_caption_text {
    font-size: 5rem;
    color: $light-color;
    font-family: $base-font-family;
    text-transform: uppercase;
    line-height: 1.1;
    @include breakpoint("small") {
      text-align: center;
      font-size: $h1-font-size * 1.5;
    }
  }
  .action-button  {
    @include breakpoint("small") {
      position: relative;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  }
  [class^="pag_nav"] {
    width: 7rem !important;
    max-height: $milli-font-size / 4;
    margin: $h6-font-size ($milli-font-size / 6) !important;
    border-radius: 0 !important;
    background: rgba($light-dark-color, 0.8);
    span {
      display: none;
    }
    &.cameracurrent, &:hover {
      background: rgba($base-color, 0.8) !important;
    }
  }

  .camera_caption_link {
    font-size: $h5-font-size;
    font-family: $alter-font-family;
    color: $light-color;
    background: $base-color;
    border-radius: 0;
    padding: ($h4-font-size / 2 ) $h4-font-size;
    @include  single-transition();
    &:hover {
      background: $dark-color;
    }
  }
}

.camera_wrap {
  margin-bottom: 0 !important;
}

.camera_pag, .camera_caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  max-width: $row-width;
  > div {
    background: none !important;
  }
}
.thumb_arrow, .camera_thumb {
  margin: 0 !important;
  transform: translate3d(-50%, -$milli-font-size / 2, 0);
  top: 0;
  left: 50%;
  display: block;
}



/*------------------------------------------------*/
// Top Banner: Camera Plugin Ends


/*------------------------------------------------*/
// TOP Banner: Text Block


.cachapua-text-block {
  background: $light-color;
  position: relative;
  @include share-vetical-press("slice");

  & > div {
    @include slice-boundaries(0 rem-calc(300) 0 ($column-gutter / 2));
  }
  p:empty {
    display: none;
  }
  .header *{
    color: $dark-color;
    margin: 0  0 $h5-font-size 0 !important;
  }
  .widget-content {
    position: relative;
    p {
      margin: 0;
      color: $light-dark-color;
      font-family: $alter-font-family;
      font-size: $micro-font-size;
      &:last-child {
        display: none;
      }
    }
    p a {
      right: 0;
      top: 50%;
      position: absolute;
      color: $dark-color;
      padding: ($h4-font-size / 2) $h3-font-size;
      border-width: 2px;
      border-style: solid;
      border-color: $dark-color;
      display: inline-block;
      font-size: $h4-font-size;
      font-family: $alter-font-family;
      z-index: 100;
      transform: translate3d(-66%, -100%, 0);
      @include single-transition();
      &:hover {
        color: $light-color;
        background: $base-color;
        border-color: $base-color;
      }
    }
  }
  @include breakpoint("small") {
    .header * {
      font-size: $h3-font-size;
    }
    & > div {
      padding: 0 ($column-gutter / 2);
    }
    .widget-content { 
      p {
        font-size: $milli-font-size;
      }
      p a {
        right: auto;
        top: auto;
        position: relative;
        transform: translate3d(0, 0, 0);;
        margin: $h4-font-size 0 0 0;
      }
    }
  }
}

/*------------------------------------------------*/
// Catalog-Banner

.cachapua-catalog-banner {
  background: $dark-color;
  @include share-vetical-press("slice");

  .widget-content {
    position: relative;
    @include slice-boundaries();
    li {
      padding-top: $h1-font-size;
      &:before {
        content: " ";
        width: 100%;
        height: rem-calc(10);
        background: $base-color;
        display: block;
        top: 0;
        left: 0;
        transform: translate3d(0, -$h1-font-size * 2, 0);
      }
      @include breakpoint("small") {
        padding-top: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  .b-horizontal-item {
    margin:  0 0 $h4-font-size 0;
    display: inline-block;
  }
  .b-horizontal-title {
    color: $light-color;
    font-size: ($h1-font-size + ($h6-font-size / 2));
    font-family: $base-font-family;
    @include breakpoint("medium") {
      font-size: $h2-font-size;
    }
  }
  .b-horizontal-picture img {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .b-horizontal-description {
    @include block-paragraph($dark-light-color);
    min-height: $h1-font-size * 1.5;

    @include breakpoint("small") {
      min-height: 100%;
    }
    @include breakpoint("medium") {
      min-height: $h1-font-size * 2;
    }
  }
  .b-horizontal-link {
    a {
      border-radius: 0;
      color: $dark-color;
      background: $base-color;
      font-family: $alter-font-family;
      box-shadow: none;
      font-size: $micro-font-size;
      padding: $micro-font-size $h1-font-size;
      text-transform: uppercase;
      @include single-transition();
      &:hover {
        background: $light-dark-color;
        color: $light-color;
      }
    }
  }
}



/*------------------------------------------------*/
// Catalog-Banner End


/*------------------------------------------------*/
// Services

.cachapua-services {
  @include share-vetical-press("slice");
  .widget-container{
    @include slice-boundaries();
  }
  padding-top: $h1-font-size * 2;
  padding-bottom: $h1-font-size * 2;
  background: $light-color;

  .widget-content {
    ul {
      @include grid-row();
      @include breakpoint("large-up") {
        li {
          @include grid-column(5);
        }
      }
      @include breakpoint("medium") {
        li {
          @include grid-column(6);
        }
      }
      @include  breakpoint("small") {
        li {
          @include grid-column(12);
          padding: 0;
        }
      }
      li {
        position: relative;
        padding-bottom: 0 !important;
        &:before, &:after {
          content: " ";
          display: block;
          background: lighten($dark-light-color, 15%);
          position: absolute;
          max-width: 4.938rem * 4;
          max-height: 4.938rem * 2;
        }
        @include breakpoint("small") {
          &:before, &:after {
            display: none !important;
          }
        }
      }
      li:nth-child(2n + 1) {
        &:before {
          width: 1px;
          height: 100%;
          right: 0;
          top: 66%;
        }
        &:after {
          width: 100%;
          height: 1px;
          right: 0;
          transform: translate3d(50%, 0, 0);
          bottom: 0;
        }
        &:nth-child(5) {
          &:before, &:after {
            display: none;
          }
        }
      }
    }
  }
  .b-vertical-container {
    @include grid-row();
    margin: $h1-font-size 0;
  }
  .b-vertical-picture {
    @include grid-column(2);
    @include breakpoint("small") {
      @include grid-column(3);
    }
    a {
      overflow: hidden;
      height: rem-calc(49);
      display: inline-block;
      &:hover {
        img {
          transform: translate3d(0, -50%, 0);
        }
      }
    }
  }
  .b-vertical-title *,
  .b-vertical-description *{
    font-family: $alter-font-family;
    margin-bottom: $micro-font-size;
    display: block;
  }
  .b-vertical-title * {
    color: $dark-color;
    font-size: $h6-font-size;
    @include grid-column(10);
    @include breakpoint("small") {
      @include grid-column(9);
    }
  }
  .b-vertical-description * {
    color: $light-dark-color;
    font-size: $micro-font-size;
    @include grid-column(9);
    @include breakpoint("small") {
      @include grid-column(12);
    }
  }
}




/*------------------------------------------------*/
//Cachapua Contanct Page



.cachapua-about-us, .cachapua-location {
  min-height: 100%;
  margin: 0 !important;
  background: $light-color;
  .heading-icon {
    display: none !important;
  }
  .heading, .heading-title, .header {
    margin: 0;
  }
  .heading-title *, .header *{
    display: block;
    color: $dark-color;
  }
  p * {
    font-family: $alter-font-family;
   }

  p, div {
    color: $light-dark-color;
    font-size: $micro-font-size;
    margin-bottom: 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
      color: $dark-color;
      font-size: $h6-font-size;
      margin-bottom: $h6-font-size
    }
  }
  p {
    margin-bottom: $micro-font-size;
  }
}

.cachapua-location {
  .googlemap-widget-content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: rem-calc(220);
    overflow: hidden;
    @include breakpoint("small") {
      margin-bottom: $h1-font-size;
    }
    &, * {
      display: inline-block;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0;
      outline: 0;
      left: 0;
      top: 0;
    }
  }
  @include breakpoint("small") {
    padding:  0 $column-gutter / 2 !important;
  }

}


/*------------------------------------------------*/
// Cachapua Gallery

.cachapua-gallery {
  background: $clouds;
  @include share-vetical-press("slice");
  .widget-container {
    @include slice-boundaries();
  }
  .header * {
    margin-bottom: $h1-font-size;
    padding-left: $micro-font-size;
  }
  .slick-track {
    width: 100% !important;
  }
  .slick-slide {
    display: table;
  }
  .slick-slide:not(.slick-active) {
    position: absolute !important;
  }
  .slick-slide.slick-active {
    left: 0 !important;
  }

  .slick-row {
    @include grid-row();
    width: 100% !important;
    .slick-column {
      @include grid-column(4);
      @include clearfix();
      margin-bottom: $h2-font-size;
      position: relative;
      overflow: hidden;
      @include breakpoint("small-to-medium") {
        .item-body {
          display: none;
        }
      }
      @include breakpoint("medium") {
        @include grid-column(6);
      }
      @include breakpoint("small") {
        @include grid-column(12);
      }
      &:hover {
        .item-body {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  .slick-prev, .slick-next {
    left: auto;
    right: 0;
    top: 0;
    transform: translate3d(-$h6-font-size, -$h1-font-size * 2, 0);
    opacity: 1;
    margin: 0;
    &:hover {
      &:before {
        color: $base-color;
      }
    }
    &:before {
      @include single-transition();
      color: $light-dark-color;
      font-size: $h3-font-size;
      opacity: 1;
    }
  }
  .slick-prev {
    transform: translate3d(-($h1-font-size), -$h1-font-size * 2, 0);
    &:before {
      content: "\f0a8";
    }
  }
  .slick-next {
    &:before {
      content: "\f0a9";
    }
  }
  .item-body {
    @include single-transition();
    position: absolute;
    top: 0;
    left: rem-calc(15);
    bottom: 0;
    right: rem-calc(15);
    background: rgba($dark-color, 0.7);
    transform: translate3d(0, 100%, 0);
    padding: $h1-font-size $h6-font-size;
    text-align: center;
  }
  .b-slick-title, .b-slick-description, .b-slick-link {
    margin-bottom: $h6-font-size;
    * {
      color: $light-color;
      font-family: $alter-font-family;
      font-size: $micro-font-size;
    }
  }

  .b-slick-title {
    * {
      font-size: $h6-font-size;
    }
  }
  .b-slick-link {
    margin-top: $h6-font-size;
    a {
      border-radius: 0;
      color: $dark-color;
      background: $base-color;
      padding: ($h6-font-size / 2) $h1-font-size;
      &:hover {
        background: $light-dark-color;
        color: $light-color;
      }
    }
  }
}
