/*------------------------------------------------*/
// Subcribe Widget


//*------------------------------------------------*/
// Subcribe widget Shared

.subscribe-widget {
  .header {
    display: none;
  }
  .slogan {
    padding: 0 0 ($h6-font-size / 2) 0;
    span {
      font-size: $micro-font-size;
      font-family: $alter-font-family;
      color: $light-dark-color;
    }
  }
  input {
  }
}


//*------------------------------------------------*/
// Subcribe widget on Sidebar


.aside-column {
  .subscribe-widget {
    .form-container {
      @extend .simple-form;
      .row {
        background: $clouds;
      }
      input {
        background: transparent;
        box-shadow: none;
      }
    }
  }
}
  
/*------------------------------------------------*/
// Subscribe Widget on Underbottom


.underbottom-widgets.widgets .subscribe-widget {
  margin-bottom: $h1-font-size;
  .heading {
    display: none;
  }
  .header {
    display: block;
  }
  .action-input {
    @extend %action-input-inverse;
  }
  .header {
    @extend %page-heading;
    h3 {
      color: $light-color;
      font-size: $h6-font-size;
      font-family: $base-font-family;
      text-transform: uppercase;
    }
  }
  .slogan {
    padding: 0 0 $micro-font-size 0;
    span {
      color: $dark-light-color;
    }
  }
}

/*------------------------------------------------*/
// Subcribe Widget Ends

