
$table-cells-border-color: $dark-light-color;

$cart-recipe-border-width: 1px 0px 1px 1px;
$cart-recipe-border-color: $table-cells-border-color;
$cart-recipe-border-style: solid;
$cart-detail-summary-margin: 0 0 $h1-font-size 0;


$table-row-width: 100%;

$table-cells-border-width: 0px 1px 0px 0px ;
$table-cells-border-style: solid;

@mixin custom-check($checked-color: $emerald) {
  input[type='radio'], input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    & ~ span {
      display: block;
      width: $micro-font-size;
      height: $micro-font-size;
      color: $dark-color;
      border: $light-dark-border;
      border-radius: 200%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -$micro-font-size;
      margin-top: -$micro-font-size / 2;
    }
    &:checked ~ span {
      border: 1px solid $checked-color !important;
      background: $checked-color !important;
    }
  }
}

@mixin table-row-borders () {
  tr:not(:last-child) {
    border-bottom: 1px solid $table-cells-border-color;
  }
}
@mixin detail-table() {
  table {
    background: $light-color;
    border-spacing: 0;
    max-width: 100%;
    border-collapse: collapse;
    display: block;
    table-layout: auto;;
    @include clearfix();
  }
  table, tbody, tr, td, th {
    @include clearfix();
    border-collapse: collapse;
  }
  tbody, tr {
    overflow: hidden;
    width: 100%;
  }
}
@mixin table-cells ($font-size: $micro-font-size){
  th, td {
    font-size: $font-size;
    font-family: $alter-font-family;
    vertical-align: middle;
  }
}
@mixin table-headers ($size: $micro-font-size) {
  th {
    padding: ($size / 2) $size;
    text-align: center;
    color: $light-dark-color;
    font-size: $size;
    background: $light-color;
    font-weight: normal;
  }
}
@mixin table-details ($size: $micro-font-size, $color: $dark-color, $aligment: right) {
  td {
    padding: $size;
    text-align: $aligment;
    color: $color;
    img {
      @extend %fill;
    }
  }
}

@mixin table-totals ($float: right) {
  position: relative;
  float: $float;
  display: block;
  @include clearfix();

}
@mixin table-totals-last ($size: $micro-font-size) {
  tr:last-child td{
    border-top: 1px solid $dark-light-color;
    background: $light-color;
    font-size: $size * 1.5;
    font-weight: 600;
    color: $dark-color;
    font-family: $base-font-family;
    text-transform: uppercase;
  }
  tr:not(:last-child) td:first-child{
    font-weight: 600;
    font-family: $base-font-family;
  }
}

@mixin table-cell-box($index: 1, $width: 10%) {
  td:nth-child(#{$index}) {
    width: $width;
  }
}
@mixin table-headers-borders($n: 1, $border-width: $table-cells-border-width){
  th:nth-child(-n + #{$n}){
    border-width: $border-width;
    border-color: $table-cells-border-color;
    border-style: $table-cells-border-style;
  }
}
@mixin table-cells-borders($n: 1, $border-width: $table-cells-border-width){
  td:nth-child(-n + #{$n}){
    border-width: $border-width;
    border-color: $table-cells-border-color;
    border-style: $table-cells-border-style;
  }
}

/*------------------------------------------------*/
// Cart Tables


.cart-detail, .cart-summary {
  a {
    @extend %fill;
    color: $dark-color;
    font-size: $micro-font-size;
    font-family: $alter-font-family;
  }
  @include clearfix();
  @include detail-table();
  @include table-row-borders();
  @include table-cells($h6-font-size);
  @include table-headers($micro-font-size);
  @include table-details();
  margin: $cart-detail-summary-margin;

}
.cart-recipe {
  @extend %fill;
  border-width: $cart-recipe-border-width;
  border-color: $cart-recipe-border-color;
  border-style: $cart-recipe-border-style;
}
.cart-totals {
  @include table-totals();
  @include table-totals-last();
  border: $dark-light-border;
  border-top: none;

}

.cart-detail {
  .cart-recipe {
    @include table-cell-box(1, 10%);
    @include table-cell-box(2, 50%);
    @include table-cell-box(3, 10%);
    @include table-cell-box(4, 0%);
    @include table-cell-box(5, 15%);
    @include table-cell-box(6, 20%);
    @include table-cell-box(7, 10%);
    @include table-headers-borders(7, 0px 1px 1px 0px);
    @include table-cells-borders(7, 0px 1px 0px 0px);
    td {
      img {
        height: $h1-font-size * 2;
      }
      input {
        text-align: center;
      }
    }
  }
}

.cart-summary {
  .cart-recipe {
    @include table-cell-box(1, 50%);
    @include table-cell-box(3, 10%);
    @include table-cell-box(4, 20%);
    @include table-cell-box(5, 25%);
    th:nth-child(-n + 5), td:nth-child(-n + 5){
      border-right: $dark-light-border;
    }
    th {
      border-bottom: $dark-light-border;
    }
  }
}

.shipping-methods {
  margin-top: 0;
  fieldset, table {
    width: 100%;
  }
  fieldset {
    display: inline-block;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  table:nth-child(2) {
    border-width: 1px 1px 0 1px;
    border-color: $light-dark-color;
    border-style: solid;
  }
  tr{
    border-bottom: $light-dark-border;
  }
  th {
    padding:  $micro-font-size;
    font-weight: normal;
    color: $light-dark-color;
    font-family: $alter-font-family;
    font-size: $micro-font-size;
    text-align: left;
    border-bottom: $light-dark-border;
    &:nth-child(-n + 2) {
      border-right: $light-dark-border;
    }
  }
  td {
    position: relative;
    color: $dark-color;
    padding: $h6-font-size;
    &:nth-child(-n + 2) {
      border-right: $light-dark-border;
    }
    &:nth-child(1n + 3) {
      font-weight: 600;
      font-family: $base-font-family;
    }
    @include custom-check();
  }
}

.cart-view-data {
  @include detail-table();
  tbody, tr {
    @extend  %fill;
    border-collapse: collapse;
  }
}
.cart-view-data table td {
  display: inline-block;
  padding: $micro-font-size;
  a, strong {
    color: $dark-color;
    font-size: $micro-font-size;
  }
  a {
    font-family: $alter-font-family;
  }
  strong {
    font-family: $base-font-family;
  }
}
.cart-view-data table:first-child{
  border: $light-dark-border;
  margin-top: $h1-font-size * 1.5;
  tr {
    width: 100%;
    &:not(:last-child) {
      border-bottom: $light-dark-border;
    }
  }
  td:first-child {
    width: 20%;
    border-right: $light-dark-border;
  }
  td:last-child {
    width: 80%;
  }

}
.cart-view-data > table ~ table {
  border-top: none;
  position: relative;
  float: right;
  width: 100%;
  margin-bottom: $h1-font-size;
  tr:not(:last-child) {
    border-bottom: $light-dark-border;
  }
  tbody {
    float: right;
    border: $light-dark-border;
    border-top: 0;
    width: auto;
  }
}

.tabulated-data {
  table {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: $dark-light-color;
  }
  @include detail-table();
  @include table-headers();
  @include table-cells();
  @include table-headers-borders(7, 0px 1px 1px 0px);
  @include table-cells-borders(7, 0px 1px 1px 0px);
  @include table-details(($micro-font-size / 2), $dark-color, center);
}

.order-data {
  margin: $h6-font-size 0 $h1-font-size 0;
  .check-action {
    display: inline-block;
    min-width: $micro-font-size;
    min-height: $micro-font-size;
    &, input, span {
      @extend %fill;
    }
    span {
      transform: translate3d($milli-font-size / 2, 0, 0);
    }
  }
  table {
    @include table-cell-box(1, 5%);
    @include table-cell-box(2, 15%);
    @include table-cell-box(3, 10%);
    @include table-cell-box(4, 0%);
    @include table-cell-box(5, 10%);
    @include table-cell-box(6, 15%);
    @include table-cell-box(7, 50%);

  }
  @include custom-check();
}

/*------------------------------------------------*/
// Payment Table


.payment-data {
  @extend %page-heading;
  table {
    @include table-cell-box(1, 25%);
    @include table-cell-box(2, 70%);
    @include table-cell-box(3, 25%);
    td {
      text-align: right;
    }
    td:last-child h2, {
      font-size: $h4-font-size;
    }
    td b {
      font-weight: normal;
    }
  }
}

/*------------------------------------------------*/
// Comparator Table



.comparator-table {

  @include table-cell-box(1, 20%);
  @include table-cell-box(2, 20%);
  @include table-cell-box(3, 20%);
  @include table-cell-box(4, 20%);
  @include table-cell-box(5, 20%);
  margin-bottom: $h1-font-size;
  .product-header {
    width: auto;
    display: block;
    text-align: center;
    * {
      width: 100%;
      display: block;
      margin-bottom: $milli-font-size;
    }
  }
}

