.content-view.cart-view-data {
  @include clearfix();
  width: 100%;
  display: block;
  max-width: 95%;
  hr, br, .clear {
    display: none;
  }
}
.cart-view-data .message {
  padding: 0;
  top: $h1-font-size;
  display: inline-block;
  width: auto;
  color: $emerald;
  background: none;
  font-size: $h5-font-size;
  text-transform: uppercase;
  font-family: $base-font-family;
  font-weight: 600;
  position: absolute;

}

.content-view.cart-view-data .button {
  @include action-button();
  display: inline-block;
  float:right;
  width: auto !important;
  margin-left: $milli-font-size;
  &:first-child {
    background: $dark-color;
  }
  &:last-child {
    background: $emerald;
  }
}
