.spinner-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $h1-font-size;
  height: $h1-font-size;
  margin-left: -$h1-font-size;
  margin-top: -$h1-font-size;
  animation: spin 0.8s linear 0s infinite;
  transform-origin: 50% 50%;
  &:before {
    background: none;
    color: $light-color;
    font-size: $h1-font-size;
  }
}

@keyframes spin{
  from {
    transform:  rotate(-360deg);
  }
  to {
    transform:  rotate(0deg) ;
  }
}