.overlay-view {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3000;
  background: rgba($dark-color, 0.6);
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  @include single-transition();
  .content-view {
    background: $light-color;
    padding: $h2-font-size;
    border-radius: 4px;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0%;
    right: 0%;
    overflow-x: hidden;
    min-width: 20rem;
    height: auto;
    width: 100%;
    display: inline-block;
    z-index: 3001;
    max-width: 95%;
  }
}

.action-quit {
  position: absolute;
  right: 1%;
  top: 10%;
  margin-top: -$h4-font-size;
  z-index: 3002;
  &:hover i {
    color: $light-color;
  }
  i {
    padding: ($milli-font-size / 1.4) 0 0 $milli-font-size;
    color: $light-color;
    width: $h2-font-size;
    height: $h2-font-size;
    background: lighten($alizarin, 13%);
    border: 1px solid lighten($alizarin, 13%);
    border-radius: 50%;

  }
}
